.main-slider{
	position: relative;
	z-index: 1;
	background: var(--black);
	color: var(--white);
	margin-bottom: 60px;
	margin-top: -30px;
	@include maxBp($bp-768){
		margin-bottom: 40px;
		margin-top: -20px;
	}
	&__item{
		width: 100%;
		height: 580px;
		position: relative;
		z-index: 10;
		display: flex;
		align-items: flex-end;
		@include maxBp($bp-1680){
			height: 580px;
		}
		@include maxBp($bp-1024){
			height: 730px;
			text-align: center;
		}
		@include maxBp($bp-768){
			height: calc(var(--vh-100) - 70px);
			min-height: 400px;
		}
	}
	&__text{
		width: 550px;
		min-height: 285px;
		padding-bottom: 100px;
		@include maxBp($bp-1024){
			width: auto;
			padding-bottom: 80px;
			min-height: 200px;
		}
		@include maxBp($bp-768){
			min-height: 230px;
		}
	}
	&__bg{
		position: absolute;
		z-index: -1;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0.8;
		img{
			position: absolute;
			z-index: -1;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__link{
		border: none;
		color: var(--white);
		font-size: 48px;
		line-height: 120%;
		font-style: normal;
		display: inline-block;
		vertical-align: top;
		@include maxBp($bp-1024){
			font-size: 24px;
			max-width: 320px;
		}
		&:hover{
			color: var(--white);
		}
	}
	&__logo{
		display: inline-block;
		vertical-align: top;
		height: auto;
		margin-bottom: 45px;
		@include maxBp($bp-768){
			margin-bottom: 30px;
			max-width: 280px;
		}
	}
}

.main-about{
	display: flex;
	flex-wrap: wrap;
	@include maxBp($bp-1024){
		display: block;
	}
	&__item{
		width: 50%;
		padding: 70px 50px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		position: relative;
		@include maxBp($bp-1280){
			padding: 40px 32px;
		}
		@include maxBp($bp-1024){
			padding: 40px 20px;
			width: 100%;
		}
		&:nth-child(4n),&:nth-child(4n+1){
			background-color: var(--gray-100);
		}
		&__bg{
			position: absolute;
			z-index: -2;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: no-repeat center center;
			background-size: cover;
		}
		&--photo{
			aspect-ratio: 720/465;
			background: no-repeat center center;
			background-size: cover;
			@include maxBp($bp-1024){
				display: none;
			}
		}
		&--discount{
			background: no-repeat center center;
			background-size: cover;
			position: relative;
			z-index: 1;
			@include bp($bp-1024){
				background: linear-gradient(180deg, #F5F5F5 0%, rgba(245, 245, 245, 0) 100%) !important;
			}
			@include maxBp($bp-1024){
				min-height: 540px;
				justify-content: flex-end;
				color: var(--white);
				--green: var(--white)
			}
			@include maxBp($bp-768){
				min-height: 520px;
				background: none !important;
			}
			&:before{
				content: '';
				position: absolute;
				z-index: -1;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(360deg, rgba(0, 0, 0, 0.50) 5%, rgba(0, 0, 0, 0.00) 85%);
				display: none;
				@include maxBp($bp-1024){
					display: block;
				}
			}
		}
		&--text{
			color: var(--gray-500);
			@include text-size-18;
			@include maxBp($bp-1280){
				@include text-size-14;
			}
			@include maxBp($bp-768){
				padding-top: 20px;
			}
			h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
				color: var(--black);
				margin-right: 50px;
				@include maxBp($bp-1280){
					margin-right: 0;
				}
				@include maxBp($bp-768){
					font-size: 16px;
				}
			}
		}
	}
	&__discount{
		margin: 0 auto;
		text-align: center;
		font-size: 32px;
		font-weight: 400;
		line-height: normal;
		@include maxBp($bp-768){
			font-size: 24px;
		}
		@include maxBp($bp-500){
			width: 100%;
		}
		strong{
			font-size: 64px;
			@include maxBp($bp-768){
				font-size: 40px;
			}
		}
		&__btn{
			margin-top: 40px;
			@include maxBp($bp-768){
				margin-top: 25px;
			}
		}

	}
}

.main-benefits{
	display: flex;
	@include reset-list;
	flex-wrap: wrap;
	gap: 60px;
	max-width: 520px;
	margin: 0 auto;
	@include maxBp($bp-768){
		gap: 40px 20px;
	}

	&__item{
		padding: 0;
		width: calc(50% - 30px);
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		letter-spacing: 0.4px;
		text-align: center;
		@include maxBp($bp-1024){
			font-size: 14px;
		}
		@include maxBp($bp-768){
			width: calc(50% - 10px);
			font-size: 14px;
		}
	}
	&__img{
		margin-bottom: 15px;
		height: 60px;
		display: flex;
		align-items: center;
		justify-content: center;
		@include maxBp($bp-768){
			margin-bottom: 10px;
			height: 55px;
		}
	}
	&__ico{
		width: auto;
		height: auto;
		max-width: 60px;
		max-height: 60px;
		@include maxBp($bp-768){
			max-width: 55px;
			max-height: 55px;
		}
	}
}

.main-caption-cols{
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	margin-bottom: var(--space-s);
}

.main-picture{
	height: 224px;
	background: no-repeat center top;
	background-size: cover;
	@include maxBp($bp-1280){
		height: 180px;
	}
	@include maxBp($bp-768){
		height: 100px;
	}
}

.main-404{
	text-align: center;
	.h1{
		text-transform: uppercase;
		margin: 0;
	}
	h1{
		font-size: 200px;
		line-height: 1;
		margin: 0 0 20px 0;
		font-weight: 300;
		@include maxBp($bp-768){
			font-size: 100px;
		}
	}
	p{
		color: var(--gray-500);
		margin-bottom: var(--space-m);
	}
}
