include ../mixins/list/cart
-
    var cartList = [
        {
            name: 'Сапоги зимние Narvik, Euroriding Германия',
            name_short: 'Сапоги Narvik, Euroriding',
            photo: 'images/content/product-1-1-m.jpg',
            size: '42',
            color: 'черный',
            color_hex: '#000000',
            price: '53 678 ₽',
            price_old: '67 680 ₽',
            price_discount: '-20%',
            count_name: 'За пару'
        },
        {
            name: 'Рубашка-поло для соревнований Sunny Россия',
            name_short: 'Рубашка-поло Sunny',
            photo: 'images/nophoto.svg',
            size: 'М',
            color: 'белый',
            color_hex: '#FFFFFF',
            price: '1 343 ₽',
            price_old: '1 520 ₽',
            price_discount: '-15%',
            count_name: ''
        },
        {
            name: 'Поло Cavalleria для соревнований Италия',
            name_short: 'Поло Cavalleria',
            photo: 'images/content/product-color-1-1.jpg',
            size: '42',
            color: 'серый',
            color_hex: '#A4A4A4',
            price: '9 990 ₽',
            price_old: '',
            price_discount: '',
            count_name: ''
        },
        {
            name: 'Сапоги зимние Narvik, Euroriding Германия',
            name_short: 'Сапоги Narvik, Euroriding',
            photo: 'images/content/product-1-1-m.jpg',
            size: '42',
            color: 'черный',
            color_hex: '#000000',
            price: '53 678 ₽',
            price_old: '67 680 ₽',
            price_discount: '-20%',
            count_name: 'За пару'
        },
        {
            name: 'Рубашка-поло для соревнований Sunny Россия',
            name_short: 'Рубашка-поло Sunny',
            photo: 'images/nophoto.svg',
            size: 'М',
            color: 'белый',
            color_hex: '#FFFFFF',
            price: '1 343 ₽',
            price_old: '1 520 ₽',
            price_discount: '-15%',
            count_name: ''
        },
        {
            name: 'Поло Cavalleria для соревнований Италия',
            name_short: 'Поло Cavalleria',
            photo: 'images/content/product-color-1-1.jpg',
            size: '42',
            color: 'серый',
            color_hex: '#A4A4A4',
            price: '9 990 ₽',
            price_old: '',
            price_discount: '',
            count_name: ''
        },
    ];
+cart-list(cartList)
