include ../mixins/list/cart
-
    var cartList = [
        {
            name: 'Сапоги зимние Narvik, Euroriding Германия',
            photo: 'images/content/product-1-1-m.jpg',
            size: '42',
            color: 'черный',
            price: '53 678 ₽',
            price_old: '67 680 ₽',
        },
        {
            name: 'Рубашка-поло для соревнований Sunny Россия',
            photo: 'images/nophoto.svg',
            size: 'М',
            color: 'белый',
            price: '1 343 ₽',
            price_old: '1 520 ₽',
        },
        {
            name: 'Поло Cavalleria для соревнований Италия',
            photo: 'images/content/product-color-1-1.jpg',
            size: '42',
            color: 'черный',
            price: '9 990 ₽',
            price_old: '',
        },
        {
            name: 'Сапоги зимние Narvik, Euroriding Германия',
            photo: 'images/content/product-1-1-m.jpg',
            size: '42',
            color: 'черный',
            price: '53 678 ₽',
            price_old: '67 680 ₽',
        },
        {
            name: 'Рубашка-поло для соревнований Sunny Россия',
            photo: 'images/nophoto.svg',
            size: 'М',
            color: 'белый',
            price: '1 343 ₽',
            price_old: '1 520 ₽',
        },
        {
            name: 'Поло Cavalleria для соревнований Италия',
            photo: 'images/content/product-color-1-1.jpg',
            size: '42',
            color: 'черный',
            price: '9 990 ₽',
            price_old: '',
        },
    ];
+cart-list(cartList)
