include ../mixins/list/catalog-list
-
    var categoryNew = [
        {
            name: 'Сапоги зимние Narvik, Euroriding Германия',
            price: '53 678 ₽',
            price_old: '67 680 ₽',
            sizes: ['36','37','38','39','40','41','42','43','44','45','46','47'],
            labels: [
                {
                    name: 'New',
                    color: 'gray',
                },
                {
                    name: 'Top',
                    color: 'black',
                },
                {
                    name: '-15%',
                    color: 'red',
                }
            ],
            colors: [
                {
                    hex: '#1A1A1A',
                    photos: [
                        'images/content/product-color-1-1.jpg',
                        'images/content/product-color-1-2.jpg',
                    ]
                },
                {
                    hex: '#805137',
                    photos: [
                        'images/content/product-color-1-1.jpg',
                        'images/content/product-color-1-2.jpg',
                    ]
                },
                {
                    hex: '#E0C785',
                    photos: [
                        'images/content/product-color-1-1.jpg',
                        'images/content/product-color-1-2.jpg',
                    ]
                },
                {
                    hex: '#BA2121',
                    photos: [
                        'images/content/product-color-1-1.jpg',
                        'images/content/product-color-1-2.jpg',
                    ]
                },
                {
                    hex: '#FFFFFF',
                    photos: [
                        'images/content/product-color-1-1.jpg',
                        'images/content/product-color-1-2.jpg',
                    ]
                },
                {
                    hex: '#374772',
                    photos: [
                        'images/content/product-color-1-1.jpg',
                        'images/content/product-color-1-2.jpg',
                    ]
                }
            ]
        },
        {
            name: 'Сапоги зимние, весенние Narvik, Euroriding Германия',
            price: '53 678 ₽',
            price_old: '67 680 ₽',
            sizes: [],
            labels: [
                {
                    name: 'New',
                    color: 'gray',
                },
                {
                    name: 'Top',
                    color: 'black',
                },
                {
                    name: '-15%',
                    color: 'red',
                }
            ],
            colors: [
                {
                    hex: '#1A1A1A',
                    photos: [
                        'images/content/product-color-1-1.jpg',
                        'images/content/product-color-1-2.jpg',
                        'images/content/product-color-1-1.jpg',
                        'images/content/product-color-1-2.jpg',
                    ]
                },
            ]
        },
        {
            name: 'Сапоги зимние Narvik, Euroriding Германия',
            price: '53 678 ₽',
            price_old: '',
            sizes: ['36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47'],
            labels: [
                {
                    name: 'New',
                    color: 'gray',
                },
                {
                    name: 'Top',
                    color: 'black',
                },
                {
                    name: '-15%',
                    color: 'red',
                }
            ],
            colors: [
                {
                    hex: '#1A1A1A',
                    photos: [
                        'images/content/product-color-1-1.jpg',
                        'images/content/product-color-1-2.jpg',
                    ]
                },
                {
                    hex: '#805137',
                    photos: [
                        'images/content/product-color-1-1.jpg',
                        'images/content/product-color-1-2.jpg',
                    ]
                },
                {
                    hex: '#E0C785',
                    photos: [
                        'images/content/product-color-1-1.jpg',
                        'images/content/product-color-1-2.jpg',
                    ]
                },
                {
                    hex: '#BA2121',
                    photos: [
                        'images/content/product-color-1-1.jpg',
                        'images/content/product-color-1-2.jpg',
                    ]
                },
                {
                    hex: '#FFFFFF',
                    photos: [
                        'images/content/product-color-1-1.jpg',
                        'images/content/product-color-1-2.jpg',
                    ]
                },
                {
                    hex: '#374772',
                    photos: [
                        'images/content/product-color-1-1.jpg',
                        'images/content/product-color-1-2.jpg',
                    ]
                }
            ]
        },
        {
            name: 'Сапоги зимние, весенние Narvik, Euroriding Германия',
            price: '53 678 ₽',
            price_old: '67 680 ₽',
            sizes: [],
            labels: [
                {
                    name: 'New',
                    color: 'gray',
                },
                {
                    name: 'Top',
                    color: 'black',
                },
                {
                    name: '-15%',
                    color: 'red',
                }
            ],
            colors: [
                {
                    hex: '#1A1A1A',
                    photos: [
                        'images/content/product-color-1-1.jpg',
                        'images/content/product-color-1-2.jpg',
                        'images/content/product-color-1-1.jpg',
                        'images/content/product-color-1-2.jpg',
                    ]
                },
            ]
        },
        {
            name: 'Сапоги зимние Narvik, Euroriding Германия',
            price: '53 678 ₽',
            price_old: '67 680 ₽',
            sizes: ['36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47'],
            labels: [
                {
                    name: 'New',
                    color: 'gray',
                },
                {
                    name: 'Top',
                    color: 'black',
                },
                {
                    name: '-15%',
                    color: 'red',
                }
            ],
            colors: [
                {
                    hex: '#1A1A1A',
                    photos: [
                        'images/content/product-color-1-1.jpg',
                        'images/content/product-color-1-2.jpg',
                    ]
                },
                {
                    hex: '#805137',
                    photos: [
                        'images/content/product-color-1-1.jpg',
                        'images/content/product-color-1-2.jpg',
                    ]
                },
                {
                    hex: '#E0C785',
                    photos: [
                        'images/content/product-color-1-1.jpg',
                        'images/content/product-color-1-2.jpg',
                    ]
                },
                {
                    hex: '#BA2121',
                    photos: [
                        'images/content/product-color-1-1.jpg',
                        'images/content/product-color-1-2.jpg',
                    ]
                },
                {
                    hex: '#FFFFFF',
                    photos: [
                        'images/content/product-color-1-1.jpg',
                        'images/content/product-color-1-2.jpg',
                    ]
                },
                {
                    hex: '#374772',
                    photos: [
                        'images/content/product-color-1-1.jpg',
                        'images/content/product-color-1-2.jpg',
                    ]
                }
            ]
        },
        {
            name: 'Сапоги зимние, весенние Narvik, Euroriding Германия',
            price: '53 678 ₽',
            price_old: '67 680 ₽',
            sizes: [],
            labels: [
                {
                    name: 'New',
                    color: 'gray',
                },
                {
                    name: 'Top',
                    color: 'black',
                },
                {
                    name: '-15%',
                    color: 'red',
                }
            ],
            colors: [
                {
                    hex: '#1A1A1A',
                    photos: [
                        'images/content/product-color-1-1.jpg',
                        'images/content/product-color-1-2.jpg',
                        'images/content/product-color-1-1.jpg',
                        'images/content/product-color-1-2.jpg',
                    ]
                },
                {
                    hex: '#805137',
                    photos: [
                        'images/content/product-color-1-1.jpg',
                        'images/content/product-color-1-2.jpg',
                    ]
                },
                {
                    hex: '#E0C785',
                    photos: [
                        'images/content/product-color-1-1.jpg',
                        'images/content/product-color-1-2.jpg',
                    ]
                }
            ]
        },
        {
            name: 'Сапоги зимние Narvik, Euroriding Германия',
            price: '53 678 ₽',
            price_old: '67 680 ₽',
            sizes: ['36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47'],
            labels: [
                {
                    name: 'New',
                    color: 'gray',
                },
                {
                    name: 'Top',
                    color: 'black',
                },
                {
                    name: '-15%',
                    color: 'red',
                }
            ],
            colors: [
                {
                    hex: '#1A1A1A',
                    photos: [
                        'images/content/product-color-1-1.jpg',
                        'images/content/product-color-1-2.jpg',
                    ]
                },
                {
                    hex: '#805137',
                    photos: [
                        'images/content/product-color-1-1.jpg',
                        'images/content/product-color-1-2.jpg',
                    ]
                },
                {
                    hex: '#E0C785',
                    photos: [
                        'images/content/product-color-1-1.jpg',
                        'images/content/product-color-1-2.jpg',
                    ]
                },
                {
                    hex: '#BA2121',
                    photos: [
                        'images/content/product-color-1-1.jpg',
                        'images/content/product-color-1-2.jpg',
                    ]
                },
                {
                    hex: '#FFFFFF',
                    photos: [
                        'images/content/product-color-1-1.jpg',
                        'images/content/product-color-1-2.jpg',
                    ]
                },
                {
                    hex: '#374772',
                    photos: [
                        'images/content/product-color-1-1.jpg',
                        'images/content/product-color-1-2.jpg',
                    ]
                }
            ]
        },
        {
            name: 'Сапоги зимние, весенние Narvik, Euroriding Германия',
            price: '53 678 ₽',
            price_old: '67 680 ₽',
            sizes: [],
            labels: [
                {
                    name: 'New',
                    color: 'gray',
                },
                {
                    name: 'Top',
                    color: 'black',
                },
                {
                    name: '-15%',
                    color: 'red',
                }
            ],
            colors: [
                {
                    hex: '#1A1A1A',
                    photos: [
                        'images/content/product-color-1-1.jpg',
                        'images/content/product-color-1-2.jpg',
                        'images/content/product-color-1-1.jpg',
                        'images/content/product-color-1-2.jpg',
                    ]
                },
                {
                    hex: '#805137',
                    photos: [
                        'images/content/product-color-1-1.jpg',
                        'images/content/product-color-1-2.jpg',
                    ]
                },
                {
                    hex: '#E0C785',
                    photos: [
                        'images/content/product-color-1-1.jpg',
                        'images/content/product-color-1-2.jpg',
                    ]
                }
            ]
        },
    ];
+catalog-list(categoryNew)
