include ../mixins/list/category-popular
-
    const categoryPopular = [
        {
            name: 'Для женщин',
        },
        {
            name: 'Для мужчин',
        },
        {
            name: 'Обувь',
            active: categoryActive,
        },
        {
            name: 'Попоны и капоры',
        },
        {
            name: 'Защита для ног',
        },
        {
            name: 'Гели и амортизаторы',
        },
        {
            name: 'Корма и подкормки',
        },
        {
            name: 'Аптечка',
        },
        {
            name: 'Для дома',
        },
        {
            name: 'Дополнительная рубрика',
        },
        {
            name: 'Текст тестовый',
        },
        {
            name: 'Название',
        },
        {
            name: 'Попоны и капоры',
        },
        {
            name: 'Защита для ног',
        },
        {
            name: 'Гели и амортизаторы',
        },
        {
            name: 'Корма и подкормки',
        },
        {
            name: 'Аптечка',
        },
    ];
+category-popular(categoryPopular)
