include ../mixins/menu/menu

header(class="header")
    div(class="wrapper__page header__top")
        nav(class="header-menu-top")
            a(href="about.html" class=(page == "about" ? "link-white active" : "link-white")) О компании
            a(href="vacancies.html" class=(page == "vacancies" ? "link-white active" : "link-white")) Вакансии
            a(href="shops.html" class=(page == "shops" ? "link-white active" : "link-white")) Наши магазины
        div(class="header-menu-top-right")
            div(class="header-city")
                | Ваш город:
                div(class="header-city__link")
                    a(href="#" class="link-white link-white--decoration js-modal-city" data-micromodal="modal-city") Moсква

            a(href="tel:+7 (495) 139-66-00" class="link-white") +7 (495) 139-66-00
            a(href="#" class="link-white" data-micromodal="modal-feedback")
                +icon-sym('phone')
                | Обратный звонок
    div(class="wrapper__page header__bottom")
        a(href="index.html" class="header-logo")
            img(src="images/logo.svg" alt="" width="74" height="53" class="header-logo__img")
            span(class="header-logo__text")
                span(class="header-logo__caption") Технология спорта
                span(class="header-logo__description") Сеть магазинов для конного спорта
        div(class="header-menu-block")
            div(class="header-city-block")
                a(class="link-city" data-micromodal="modal-city")
                    +icon-sym('pin')
                    | Moсква
                    +icon-sym('arr')

            -
                const menu = [
                    {
                        name: 'Каталог',
                        url: 'catalog-categories',
                        items: [
                            {
                                name: 'Для всадника',
                                items: [
                                    {
                                        name: 'Для женщин',
                                    },
                                    {
                                        name: 'Для мужчин',
                                    },
                                    {
                                        name: 'Для детей',
                                    },
                                    {
                                        name: 'Обувь',
                                    },
                                    {
                                        name: 'Головные уборы',
                                    },
                                    {
                                        name: 'Хлысты',
                                    },
                                    {
                                        name: 'Носки и гольфы',
                                    },
                                    {
                                        name: 'Перчатки',
                                    },
                                    {
                                        name: 'Шпоры',
                                    },
                                    {
                                        name: 'Сумки и чехлы',
                                    },
                                    {
                                        name: 'Ремни и очки',
                                    },
                                    {
                                        name: 'Защита',
                                    },
                                ]
                            },
                            {
                                name: 'Для лошади',
                                items: [
                                    {
                                        name: 'Бандажи',
                                    },
                                    {
                                        name: 'Игрушки'
                                    },
                                    {
                                        name: 'Попоны',
                                    },
                                    {
                                        name: 'Защита для ног',
                                    },
                                    {
                                        name: 'Косметика',
                                    },
                                    {
                                        name: 'Вальтрапы и ушки',
                                    },
                                    {
                                        name: 'Гели и амортизаторы',
                                    },
                                    {
                                        name: 'Дополнительное снаряжение',
                                    },
                                    {
                                        name: 'Железо',
                                    },
                                    {
                                        name: 'Защита от насекомых',
                                    },
                                    {
                                        name: 'Ковка',
                                    },
                                    {
                                        name: 'Корма и подкормки',
                                    },
                                    {
                                        name: 'Недоуздки и чомбура',
                                    },
                                    {
                                        name: 'Подпруги',
                                    },
                                    {
                                        name: 'Пони',
                                    },
                                    {
                                        name: 'Работа на корде',
                                    },
                                    {
                                        name: 'Седла',
                                    },
                                    {
                                        name: 'Скачки',
                                    },
                                    {
                                        name: 'Стремена и путлища',
                                    },
                                    {
                                        name: 'Уздечки и оголовья',
                                    },
                                    {
                                        name: 'Чистка и уход',
                                    },
                                ]
                            },
                            {
                                name: 'Для собаки',
                                items: [
                                    {
                                        name: 'Одежда',
                                    },
                                    {
                                        name: 'Попоны',
                                    },
                                    {
                                        name: 'Лежаки',
                                    },
                                    {
                                        name: 'Игрушки',
                                    },
                                    {
                                        name: 'Ошейники',
                                    },
                                    {
                                        name: 'Поводки',
                                    },
                                ]
                            },
                            {
                                name: 'В конюшню',
                                items: [
                                    {
                                        name: 'Кормушки и поилки',
                                    },
                                    {
                                        name: 'Инвентарь',
                                    },
                                    {
                                        name: 'Хранение',
                                    },
                                    {
                                        name: 'Держатели и подставки',
                                    },
                                    {
                                        name: 'Аптечка',
                                    },
                                    {
                                        name: 'Манеж',
                                    },
                                    {
                                        name: 'Ковка',
                                    },
                                ]
                            },
                            {
                                name: 'Сувениры',
                                items: [
                                    {
                                        name: 'Подарочные карты',
                                    },
                                    {
                                        name: 'Для телефонов и ключей',
                                    },
                                    {
                                        name: 'Для дома',
                                    },
                                    {
                                        name: 'Игрушки',
                                    },
                                ]
                            },
                            {
                                name: 'Литература',
                                items: [
                                    {
                                        name: 'Книги',
                                    },
                                    {
                                        name: 'Журналы',
                                    },
                                ]
                            },
                            {
                                name: 'Товары на комиссии',
                                items: [
                                    {
                                        name: 'Комиссия',
                                    },
                                    {
                                        name: 'Седла',
                                    },
                                    {
                                        name: 'Уценка',
                                    },
                                ]
                            },
                            {
                                name: 'Распродажа',
                                items: [
                                    {
                                        name: 'Одежда',
                                    },
                                    {
                                        name: 'Попоны',
                                    },
                                    {
                                        name: 'Лежаки',
                                    },
                                    {
                                        name: 'Игрушки',
                                    },
                                ]
                            },
                        ]
                    },
                    {
                        name: 'Бренды',
                        url: 'brands',
                    },
                    {
                        name: 'Медиа',
                        url: 'media',
                    },
                    {
                        name: 'Покупателям',
                        url: 'help',
                    },
                    {
                        name: 'Оплата и доставка',
                        url: 'payment-and-delivery',
                    },
                ];
            +menu-list(menu)
            div(class="header-menu-block__bottom")
                a(href="#" class="header-user-link" data-micromodal="modal-enter")
                    +icon-sym('user')
                    | Вход в личный кабинет
                div(class="header-menu-block__hr")
                div(class="header-contacts")
                    a(href="tel:+7 (495) 139-66-00" class="link-gray") +7 (495) 139-66-00
                    div(class="header-social")
                        a(href="https://vk.com/" target="_blank" rel="nofollow" class="header-social__link" style="--color-hover:#4680c2")
                            +icon-sym('vk')
                        a(href="https://www.youtube.com/" target="_blank" rel="nofollow" class="header-social__link" style="--color-hover:#c4302b")
                            +icon-sym('yt')
                a(href="#" class="btn btn--100" data-micromodal="modal-feedback") обратный звонок


        ul(class="header-menu-user")
            li(class="header-menu-user__item")
                a(href="#" class="header-menu-user__link js-search-show")
                    +icon-sym('search')
            li(class="header-menu-user__item tablet-hide")
                a(href="#" class="header-menu-user__link" data-micromodal="modal-enter")
                    +icon-sym('user')
            li(class="header-menu-user__item")
                // class="header-menu-user__link header-menu-user__link--basket-active" - показывает пипку, если в корзине что-то есть
                a(href="#" class="header-menu-user__link" data-micromodal="modal-basket")
                    +icon-sym('cart')

        div(class="header-search")
            div(class="wrapper__page header-search__wrapper")
                form(action="search.html" class="form form--search js-form-validate")
                    div(class="form-input-clear js-form-input-clear mobile-hide")
                    input(type="text" class="form__input form__input--search-form form__input--big" placeholder="Поиск..." required)
                    button(class="form__search")
                        +icon-sym('search')
                div(class="modal__close modal__close--search js-search-close")
            div(class="header-search__mask js-search-close")

        div(class="header-burger js-menu-burger")
            div
