div(class="cart-header cart-header--full")
    h1(class="cart-header__h1") Оформление заказа
    a(href="basket.html" class="btn btn--mob-small btn--green-border btn--mob-100")
        +icon-sym('arrow')
        | В корзину

form(action="#" class="order-cols js-form-validate")
    div(class="order-cols__left")
        div(class="h5 mb-s text-light") При самовывозе товара скидка сайта не действует. Для получения скидки Вы можете воспользоваться своей бонусной или дисконтной картой.
        h3(class="mb-xs") Регион доставки
        div(class="form__line")
            input(class="form__input js-dadata-city" value="Москва" required)
        hr(class="form__hr")
        h3(class="mb-xs") Способ доставки
        div(class="form__line")
            label(class="input-checkbox input-checkbox--cols")
                input(type="radio" name="delivery" checked)
                span(class="input-checkbox__text")
                    span(class="input-checkbox__text__item") Курьер с примеркой
                    span(class="input-checkbox__text__item") Завтра
                    span(class="input-checkbox__text__item") 500 ₽ +25 ₽/км за пределы МКАД (более 5 км)
        div(class="form__line")
            label(class="input-checkbox input-checkbox--cols")
                input(type="radio" name="delivery")
                span(class="input-checkbox__text")
                    span(class="input-checkbox__text__item") Курьер СДЭК (без примерки)
                    span(class="input-checkbox__text__item") 1-3 дня
                    span(class="input-checkbox__text__item") 500 ₽
        div(class="form__line")
            label(class="input-checkbox input-checkbox--cols")
                input(type="radio" name="delivery")
                span(class="input-checkbox__text")
                    span(class="input-checkbox__text__item") Пункт выдачи СДЭК
                    span(class="input-checkbox__text__item") 3-5 дней
                    span(class="input-checkbox__text__item") 100 ₽
        div(class="form__line")
            label(class="input-checkbox input-checkbox--cols")
                input(type="radio" name="delivery")
                span(class="input-checkbox__text")
                    span(class="input-checkbox__text__item") Курьер Деловые линии (без примерки)
                    span(class="input-checkbox__text__item") 1-2 дня
                    span(class="input-checkbox__text__item") 450 ₽
        div(class="form__line")
            label(class="input-checkbox input-checkbox--cols")
                input(type="radio" name="delivery")
                span(class="input-checkbox__text")
                    span(class="input-checkbox__text__item") Пункт выдачи Деловые линии
                    span(class="input-checkbox__text__item") 1-5 дней
                    span(class="input-checkbox__text__item") 150 ₽
        div(class="form__line")
            label(class="input-checkbox input-checkbox--cols")
                input(type="radio" name="delivery")
                span(class="input-checkbox__text")
                    span(class="input-checkbox__text__item") Самовывоз из магазина
                    span(class="input-checkbox__text__item") 1-2 дня
                    span(class="input-checkbox__text__item") Бесплатно

        hr(class="form__hr")
        h3(class="mb-xs") Способ оплаты
        div(class="form__line")
            label(class="input-checkbox")
                input(type="radio" name="payment" checked)
                span(class="input-checkbox__text") Онлайн оплата банковской картой
        div(class="form__line")
            label(class="input-checkbox")
                input(type="radio" name="payment")
                span(class="input-checkbox__text") Наличными курьеру

        hr(class="form__hr")
        h3(class="mb-xs") Покупатель
        div(class="form__line")
            label(class="form__label" for="order-input-name") ФИО
            input(type="text" class="form__input" id="order-input-name" required)
        div(class="form__line")
            label(class="form__label" for="order-input-phone") Телефон
            input(type="text" inputmode="tel" class="form__input js-input-format-phone" id="order-input-phone" required)
        div(class="form__line")
            label(class="form__label" for="order-input-name") E-mail
            input(type="email" class="form__input" id="order-input-email" required)
        if orderAuth
            div(class="form__line")
                label(class="form__label") Выберите адрес для доставки:
            div(class="form__line__wrapper")
                div(class="form__line")
                    label(class="input-checkbox")
                        input(type="radio" name="address" class="js-order-address-radio" checked)
                        span(class="input-checkbox__text") г. Москва, ул. Проходчиков, 18
                div(class="form__line")
                    label(class="input-checkbox")
                        input(type="radio" name="address" class="js-order-address-radio")
                        span(class="input-checkbox__text") г. Москва, ул. Академика Янгеля, 2 стр1
                div(class="form__line form__line--more")
                    a(href="#" class="link-more js-menu-more") Показать все адреса
                        +icon-sym('arr-down')
                div(class="form__line")
                    label(class="input-checkbox")
                        input(type="radio" name="address" class="js-order-address-radio")
                        span(class="input-checkbox__text") г. Москва, Кутузовский проспект, 31А, стр. 1
                div(class="form__line")
                    label(class="input-checkbox")
                        input(type="radio" name="address" class="js-order-address-radio")
                        span(class="input-checkbox__text") г. Москва, ул. Ткацкая ул., д.5 стр. 2, этаж 5
            div(class="form__line")
                label(class="input-checkbox")
                    input(type="radio" name="address" class="js-order-address-radio" value="new")
                    span(class="input-checkbox__text") Доставить по новому адресу
            div(class="form__line fade-in hide js-order-address-radio-new")
                label(class="form__label" for="order-input-address") Новый адрес доставки
                input(type="text" class="form__input js-dadata-city js-dadata-address" id="order-input-address" required value="Москва ")

        else
            div(class="form__line")
                label(class="form__label" for="order-input-address") Адрес доставки
                input(type="text" class="form__input js-dadata-city js-dadata-address" id="order-input-address" required value="Москва")
        div(class="form__line")
            label(class="form__label" for="order-input-bonus") Номер бонусной карты
            div(class="form__input-btn")
                input(type="text" class="form__input" id="order-input-bonus")
                div(class="btn btn--arrow btn--green")
                    +icon-sym('arrow-small')
        div(class="form__line")
            label(class="form__label" for="order-input-comment") Комментарий к заказу
            textarea(class="form__input js-textarea" id="order-input-comment")

        hr(class="form__hr")
        h3(class="mb-xs") Товары в заказе
        -
            var cartFull = true
            var cartOrder = true
        include ./cart-list

    aside(class="order-cols__right")
        div(class="order-total")
            div(class="order-total__caption")
                | Количество товаров: 3
            hr(class="order-total__hr")
            dl(class="order-param")
                dt Стоимость
                dd 21 343 ₽
            dl(class="order-param")
                dt Доставка
                dd 500 ₽
            dl(class="order-param order-param--total")
                dt Итого
                dd 21 793 ₽

        div(class="form__line")
            label(class="input-checkbox input-checkbox--small")
                input(type="checkbox" required checked)
                span(class="input-checkbox__text") Я согласен на обработку
                    a(href="#") персональных данных
        div(class="form__submit")
            button(type="submit" class="btn btn--green btn--100") Оформить заказ
