include ../mixins/list/lk-orders
-
    const lkOrders = [
        {
            name: 'Заказ №232889-09',
            date: '25.07.2023',
            delivery: 'Самовывоз',
            address: 'г. Москва, ул. Проходчиков, 18, кв. 48',
            total: '3 товара на сумму 21 343 ₽',
            pay: false,
        },
        {
            name: 'Заказ №232136-02',
            date: '21.06.2023',
            delivery: 'Доставка курьером',
            address: 'г. Москва, ул. Ткацкая, 47, кв. 12',
            total: '2 товара на сумму 15 678 ₽',
            pay: true,
        },
        {
            name: 'Заказ №232889-09',
            date: '25.07.2023',
            delivery: 'Самовывоз',
            address: 'г. Москва, ул. Проходчиков, 18, кв. 48',
            total: '3 товара на сумму 21 343 ₽',
            pay: false,
        },
        {
            name: 'Заказ №232136-02',
            date: '21.06.2023',
            delivery: 'Доставка курьером',
            address: 'г. Москва, ул. Ткацкая, 47, кв. 12',
            total: '2 товара на сумму 15 678 ₽',
            pay: true,
        },
        {
            name: 'Заказ №232136-02',
            date: '21.06.2023',
            delivery: 'Доставка курьером',
            address: 'г. Москва, ул. Ткацкая, 47, кв. 12',
            total: '2 товара на сумму 15 678 ₽',
            pay: true,
        },
    ];

+lk-orders(lkOrders)
