// Пример скриптов, анимаций для бэка
script.
    document.addEventListener('DOMContentLoaded', () => {

        // Кнопка +
        document.body.addEventListener('click',(e)=>{
            if (e.target.classList.contains('js-basket-plus') || e.target.closest('.js-basket-plus')){
                e.preventDefault();
                const btn = e.target.classList.contains('js-basket-plus') ? e.target : e.target.closest('.js-basket-plus');
                const productId = btn?.getAttribute('data-product-id');
                const parents = document.querySelectorAll('.catalog-list__basket[data-product-id="'+productId+'"],.cart-list__counter[data-product-id="'+productId+'"]');
                parents.forEach((parent)=>{
                    parent.classList.add('active');
                    const counter = parent.querySelector('[data-count]');
                    if (counter !== null && counter !== undefined) {
                        let count = Number(counter.getAttribute('data-count'));
                        const step = Number(counter.getAttribute('data-step'));
                        const max = Number(counter.getAttribute('data-max'));

                        count += step;

                        const btnPlus = parent.querySelector('.catalog-counter .js-basket-plus');

                        if (count + step <= max) {
                            btnPlus?.removeAttribute('disabled');
                        } else {
                            btnPlus?.setAttribute('disabled', 'disabled');
                        }

                        if (count > max){
                            count = max;
                        }

                        const btnMinus = parent.querySelector('.catalog-counter .js-basket-minus');
                        btnMinus?.removeAttribute('disabled');

                        counter.setAttribute('data-count', String(count));
                    }
                })
            }
        });

        // Кнопка -
        const btnMinusFunc = (el) => {
            const btn = el.classList.contains('js-basket-minus') ? el : el.closest('.js-basket-minus');
            const productId = btn?.getAttribute('data-product-id');
            const parents = document.querySelectorAll('.catalog-list__basket[data-product-id="' + productId + '"],.cart-list__counter[data-product-id="' + productId + '"]');
            parents.forEach((parent) => {
                const counter = parent.querySelector('[data-count]');
                if (counter !== null && counter !== undefined) {
                    let count = Number(counter.getAttribute('data-count'));
                    const step = Number(counter.getAttribute('data-step'));

                    count -= step;

                    const btnMinus = parent.querySelector('.catalog-counter .js-basket-minus');

                    if (count <= 0) {
                        btnMinus?.setAttribute('disabled', 'disabled');

                        count = 0;

                        parents.forEach((parent) => {
                            parent.classList.remove('active');
                        });

                        // Удаление товара в корзине
                        if (parent.closest('.cart-list__item') !== null && parent.closest('.cart-list__item') !== undefined) {
                            parent.closest('.cart-list__item').classList.add('fade-out');
                            setTimeout(() => {
                                parent.closest('.cart-list__item').remove();
                            }, 300)
                        }

                    }

                    const btnPlus = parent.querySelector('.catalog-counter .js-basket-plus');
                    btnPlus?.removeAttribute('disabled');
                    counter.setAttribute('data-count', String(count));
                }
            })
        }
        document.body.addEventListener('click', (e) => {
            if (e.target.classList.contains('js-basket-minus') || e.target.closest('.js-basket-minus')) {
                console.log('- click event')
                e.preventDefault();
                btnMinusFunc(e.target);
            }
        });

        // Кнопка x в корзине
        document.body.addEventListener('click', (e) => {
            if (e.target.classList.contains('js-basket-delete') || e.target.closest('.js-basket-delete')) {
                e.preventDefault();
                const btn = e.target.classList.contains('js-basket-delete') ? e.target : e.target.closest('.js-basket-delete');
                const productId = btn?.getAttribute('data-product-id');
                const counters = document.querySelectorAll('.catalog-counter__text[data-product-id="' + productId + '"]');
                const btnMinus = document.querySelector('.js-basket-minus[data-product-id="' + productId + '"]');
                counters.forEach((counter)=>{
                    counter.setAttribute('data-count','1');
                })
                btnMinusFunc(btnMinus);
            }
        });

        // Пример фильтра
        const filterInputs = document.querySelectorAll('.js-filter-example input,.js-filter-example select');
        const filterSubmit = document.querySelector('.js-filter-submit-example');
        const filterSubmitParent = filterSubmit?.closest('.filter__buttons');
        const filterContent = document.querySelector('.filter-content');
        filterInputs.forEach((input)=>{
            input.addEventListener('change',()=>{
                filterSubmitParent?.classList.remove('hide');
            })
        });
        filterSubmit?.addEventListener('click',()=>{
            document.querySelector('.js-anchor[href="#top"]')?.dispatchEvent(new Event('click')); // скролл страницы вверх
            filterSubmitParent?.classList.add('hide');
            filterContent?.classList.add('filter-content--loading');

            // Закрытие фильтра на мобиле
            document.querySelector('.js-modal-filter-hide')?.dispatchEvent(new Event('click'))

            // Имитация запроса
            setTimeout(()=>{
                fetch('ajax-catalog-list.html')
                    .then((response) => {
                        return response.text();
                    })
                    .then((data) => {
                        filterContent.innerHTML = data;
                        filterContent?.classList.remove('filter-content--loading');
                        document.dispatchEvent(new CustomEvent('AjaxContentLoaded')); // иницилизирует слайдеры и т.п.
                    })
                    .catch((err) => {
                        console.warn('Something went wrong.', err);
                    });
            },1000)
        });

        // Страница Оформление заказа, добавление нового адреса
        const inputAddress = document.querySelectorAll('.js-order-address-radio');
        inputAddress.forEach((input) => {
            input.addEventListener('change', () => {
                const inputAddressNew = document.querySelector('.js-order-address-radio-new');
                if (input.value === 'new'){
                    inputAddressNew.classList.remove('hide');
                    const inp = inputAddressNew.querySelector('input');
                    // Ставим фокус в конце value
                    const value = inp.value;
                    inp.value = '';
                    inp.focus();
                    inp.value = value;
                }
                else{
                    inputAddressNew.classList.add('hide');
                }
            })
        });

    });
