.link-white{
	border: none;
	color: var(--white);
	opacity: 0.8;
	&:hover,&.active{
		opacity: 1;
		color: var(--white);
	}
	&--decoration{
		border-bottom: 1px solid var(--white);
		&:hover{
			border-bottom-color: transparent;
		}
	}
	.icon-sym{
		fill: var(--white);
		vertical-align: middle;
		width: 13px;
		height: 13px;
	}
}

.link-white-opacity{
	color: var(--white);
	border: none;
	opacity: 0.8;
	&:hover{
		color: var(--white);
		opacity: 1;
	}
}

.link-gray{
	color: var(--gray-800);
	border: none;
	&:hover{
		color: var(--green);
	}
}
.link-gray-light{
	color: var(--gray-500);
	border-bottom-color: var(--gray-500);
	&:hover{
		color: var(--white);
		border-bottom-color: transparent;
	}
}

.link-city{
	font-weight: 500;
	font-size: 16px;
	line-height: normal;
	letter-spacing: 0.4px;
	border: none;
	color: var(--black);
	.icon-sym{
		display: inline-block;
		vertical-align: middle;
		width: 14px;
		height: 18px;
		margin:-1px 4px 0 0;
	}
	.icon-sym--arr{
		transform: rotate(-90deg);
		width: 14px;
		height: 14px;
		margin: 0 0 0 2px;
	}
}

.link-more{
	color: var(--green);
	border-bottom: 1px solid var(--green);
	position: relative;
	z-index: 1;
	display: inline-block;
	line-height: normal;
	.icon-sym{
		position: absolute;
		z-index: 1;
		top: 50%;
		left: 100%;
		transform: translate3d(0,-50%,0);
		stroke:var(--green);
		margin: 0;
		border-left: 10px solid transparent;
		box-sizing: content-box;
	}
}

.icon-sym--pin{
	fill: var(--green);
}
.icon-sym--arr{
	@include icon-stroke;
	stroke-width: 1px;
}
.icon-sym--arr-down{
	@include icon-stroke;
	width: 11px;
	height: 11px;
	stroke-width: 1.5px;
	vertical-align: middle;
	margin: 0 0 0 10px;
}
