h1,.h1{
  @include text-h1;
  margin-bottom: var(--space-s);
  &:last-child{
    margin-bottom: 0;
  }
}
h2,.h2{
  @include text-h2;
  margin-bottom: var(--space-s);
  &:last-child{
    margin-bottom: 0;
  }
}
h3,.h3{
  @include text-h3;
  margin-bottom: var(--space-2xs);
  &:last-child{
    margin-bottom: 0;
  }
}
h4,.h4{
  @include text-h4;
  margin-bottom: var(--space-2xs);
  &:last-child{
    margin-bottom: 0;
  }
}
h5,.h5{
  @include text-h5;
  margin-bottom: var(--space-2xs);
  &:last-child{
    margin-bottom: 0;
  }
}
h6,.h6{
  @include text-h6;
  margin-bottom: var(--space-2xs);
  &:last-child{
    margin-bottom: 0;
  }
}

p,.p{
  padding: 0;
  margin: 0 0 var(--space-xs) 0;
  &:last-child{
    margin-bottom: 0;
  }
}

a{
  text-decoration: none;
  transition: var(--trans);
  color: var(--primary-color-600);
  cursor: pointer;
  &:hover{
    color: var(--secondary-color-900);
  }
}

.text-nowrap{
  white-space: nowrap;
}

.text-content{
  p{
    padding: 0;
    margin:0 0 20px 0;
    &:last-child{
      margin-bottom: 0;
    }
    +img{
      margin-top: 20px;
    }
    img {
      margin-bottom: 20px;
    }
  }
  ul,ol{
    list-style: none;
    padding: 0;
    margin: 20px 0;
    &:last-child{
      margin-bottom: 0;
    }
    &:first-child{
      margin-top: 0;
    }
    li{
      padding: 0 0 12px 16px;
      margin:0;
      position: relative;
      z-index: 1;
      &:last-child{
        padding-bottom: 0;
      }
      &:before{
        content: '';
        position: absolute;
        z-index: -1;
        left: 0;
        top: 9px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: var(--secondary-color-900);
      }
    }
    ul,ol{
      margin-top: 20px;
      padding-bottom: 8px;
      &:first-child{
        margin-top: 20px;
      }
    }
  }
  ol{
    counter-reset: list;
    li{
      &:before{
        content: counter(list)".";
        counter-increment:list;
        width: auto;
        height: auto;
        background: none;
        border-radius: 0;
        left: 0;
        top: 0;
      }
    }
  }
  h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
    padding-top: 20px;
    @include maxBp($bp-768){
      padding-top: 8px;
    }
    &:first-child{
      padding-top: 0;
    }
    +img{
      margin-top: 20px;
      @include maxBp($bp-768){
        margin-top: 10px;
      }
    }
  }

  hr{
    display: block;
    width: 100%;
    height: 0;
    margin: 0 0 16px 0;
    padding: 0;
    border: none;
    border-top: 1px solid var(--secondary-color-150);
  }

  blockquote{
    display: block;
    position: relative;
    padding: 0 0 0 54px;
    margin:var(--space-s) 0;
    &:first-child{
      margin-top: 0;
    }
    &:before{
      content: '';
      position: absolute;
      z-index: -1;
      left: 0;
      top: 0;
      width: 32px;
      height: 32px;
      background:url(../images/quote.svg) no-repeat  0 0;
      background-size: contain;
    }
  }

  table{
    width: 100%;
    padding: 0;
    margin: 0 0 var(--space-s);
    border-collapse: collapse;
    border:1px solid var(--secondary-color-100);
    border-radius: 10px;
    th,td{
      vertical-align: middle;
      text-align: center;
      padding: 24px 12px;
      border-top:1px solid var(--secondary-color-100);
      &:first-child{
        padding-left: 52px;
        @include maxBp($bp-768){
          padding-left: 24px;
        }
      }
      &:last-child{
        padding-right: 52px;
        @include maxBp($bp-768){
          padding-right: 24px;
        }
      }
    }
    th{
      font-weight: bold;
    }
  }

  a:not([class]){
    word-break: break-word;
  }

  iframe{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    border:1px solid var(--white);
    overflow: hidden;
    aspect-ratio: 16/9;
  }

  img{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 20px 0;
    +h1,+h2,+h3,+h4,+h5,+h6,+.h1,+.h2,+.h3,+.h4,+.h5,+.h6{
      padding-top: 0;
    }
  }

}

.table{
  margin: var(--space-s) 0;
  border: 1px solid var(--white);
  border-radius: 10px;
  overflow: auto;
  max-width: 100%;
  &:last-child{
    margin-bottom: 0;
  }
}

.text-center{
  text-align: center;
}

.text-bold{
  font-weight: bold;
}
