mixin pages-list(items)
    ul
        each item, index in items
            -
                const {
                    name,
                    url,
                } = item;
            li
                if modalLinks
                    a(data-micromodal=url)
                        !=name
                else
                    a(href=url)
                        !=name
