@mixin icon-arr{
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 8px;
  border: 2px solid var(--secondary-color-900);
  border-left: none;
  border-bottom: none;
  transform: rotate(45deg);
  transition: var(--trans);
}

@mixin icon-close{
  width: 24px;
  height: 24px;
  background: var(--secondary-color-100);
  border-radius: 50%;
  position: relative;
  z-index: 1;
  margin: -10px;
  border: 10px solid var(--white);
  cursor: pointer;
  box-sizing: content-box;
  transform: rotate(45deg);
  transition: var(--trans);
  &:hover{
    background: var(--primary-color-600);
    &:before,&:after{
      background: var(--white);
    }
  }
  &:before,&:after{
    content: '';
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    width: 10px;
    height: 2px;
    transform: translate3d(-50%,-50%,0);
    background: var(--secondary-color-900);
    transition: var(--trans);
  }
  &:after{
    width: 2px;
    height: 10px;
  }
}

@mixin icon-checkbox{
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 10px;
  border: 2px solid var(--secondary-color-900);
  border-left: none;
  border-top: none;
  transform: rotate(45deg);
  transition: var(--trans);
  border-radius: 0;
  background: none;
}

@mixin icon-radio{
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 8px;
  background: var(--white);
  transition: var(--trans);
  border-radius: 50%;
}

@mixin icon-plus{
  width: 10px;
  height: 10px;
  position: relative;
  z-index: 1;
  display: inline-block;
  vertical-align: middle;
  &:before,&:after{
    content: '';
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 2px;
    transform: translate3d(-50%,-50%,0);
    background: var(--secondary-color-900);
    transition: var(--trans);
  }
  &:after{
    width: 2px;
    height: 100%;
  }
}

@mixin icon-delete{
  display: inline-block;
  width: 12px;
  height: 12px;
  border:10px solid transparent;
  margin: -10px;
  position: relative;
  z-index: 1;
  cursor: pointer;
  box-sizing: content-box;
  transform: rotate(45deg);
  transition: var(--trans);
  &:hover{
    &:before,&:after{
      background: var(--primary-color-600);
    }
  }
  &:before,&:after{
    content: '';
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 2px;
    transform: translate3d(-50%,-50%,0);
    background: var(--secondary-color-300);
    transition: var(--trans);
  }
  &:after{
    width: 2px;
    height: 100%;
  }
}

@mixin icon-stroke{
  fill: none !important;
  stroke: var(--secondary-color-900);
  stroke-width: 2px;
}
