.header {
	width: 100%;
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	transition: var(--trans);
	background: var(--white);
	@include maxBp($bp-1280){
		background: var(--black);
	}
	&__top{
		background: var(--gray-900);
		color: transparentize($white,0.2);
		@include text-size-12;
		height: 28px;
		display: flex;
		align-items: center;
		padding-bottom: 2px;
		@include maxBp($bp-1280){
			display: none;
		}
	}
	&__bottom{
		display: flex;
		align-items: center;
		height: 80px;
		border-bottom: 1px solid var(--black);
		@include maxBp($bp-1280){
			height: 70px;
			border: none;
		}
	}
}
.header-menu-top{
	display: flex;
	align-items: center;
	gap: 42px;
	margin-right: auto;
	@include maxBp($bp-1440){
		gap: 30px;
	}
}

.header-menu-top-right{
	display: flex;
	align-items: center;
	gap: 42px;
	margin-left: auto;
	@include maxBp($bp-1440){
		gap: 30px;
	}
}
.header-city{
	&__link{
		display: inline-block;
		vertical-align: top;
		margin-left: 10px;
		@include maxBp($bp-1440){
			margin-left: 5px;
		}
	}
}

.header-logo{
	display: flex;
	align-items: center;
	margin-right: 120px;
	@include maxBp($bp-1440){
		margin-right: 60px;
	}
	@include maxBp($bp-1280){
		margin-right: 0;
	}
	&__img{
		width: 74px;
		height: auto;
		margin-right: 18px;
		@include maxBp($bp-1280){
			width: 66px;
			margin-right: 0;
		}
	}
	&__text{
		@include maxBp($bp-1280){
			display: none;
		}
	}
	&__caption{
		display: block;
		color: var(--black);
		font-size: 16px;
		line-height: normal;
		letter-spacing: -0.5px;
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 1px;
	}
	&__description{
		display: block;
		color: var(--gray-400);
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		letter-spacing: -0.3px;
	}
}
.header-menu-block{
	align-self: stretch;
	display: flex;
	@include maxBp($bp-1280){
		display: none;
	}
}
.header-menu{
	@include reset-list;
	align-self: stretch;
	display: flex;
	gap: 50px;
	@include maxBp($bp-1440){
		gap: 30px;
	}
	&__item{
		display: flex;
	}
	&__link{
		font-size: 12px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		letter-spacing: 0.72px;
		text-transform: uppercase;
		display: flex;
		align-items: center;
		position: relative;
		z-index: 1;
		.icon-sym--arr-down{
			@include icon-stroke;
			width: 11px;
			height: 11px;
			stroke-width: 1.5px;
			vertical-align: middle;
			margin: 0 0 0 10px;
		}
		&:after{
			content: '';
			position: absolute;
			z-index: -1;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 2px;
			background: var(--green);
			transform: scaleY(0);
			transform-origin: center bottom;
			transition: var(--trans);
		}
		&.active,&:hover{
			&:after{
				transform: scaleY(1);
			}
		}
	}
}

.header-menu-user{
	@include reset-list;
	align-self: stretch;
	display: flex;
	gap:20px;
	margin-left: auto;
	@include maxBp($bp-1440){
		gap: 10px;
	}
	@include maxBp($bp-1280){
		gap: 20px;
		margin-right: 55px;
	}
	@include maxBp($bp-1024){
		margin-right: 43px;
	}
	&__item{
		display: flex;
	}
	&__link{
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 15px;
		.icon-sym{
			fill: var(--black);
			transition: var(--trans);
			width: 18px;
			height: 18px;
			@include maxBp($bp-1280){
				fill: var(--white);
			}
		}
		&.active,&:hover{
			.icon-sym{
				@include bp($bp-1280){
					fill: var(--green);
				}
			}
		}
	}
}

.header-burger{
	width: 70px;
	height: 70px;
	position: absolute;
	z-index: 10;
	right: 7px;
	top: 0;
	cursor: pointer;
	@include maxBp($bp-1024){
		right: 0;
		width: 60px;
	}
	&:before,&:after,div{
		content: '';
		width: 20px;
		height: 2px;
		position: absolute;
		z-index: 1;
		left: 50%;
		top: 50%;
		margin: -1px 0 0 -10px;
		background: var(--white);
		transition: var(--trans);
	}
	&:before{
		transform: translate3d(0,-9px,0);
	}
	&:after{
		transform: translate3d(0,9px,0);
	}
	.menu-show &{
		div{
			transform: scaleX(0);
		}
		&:before{
			transform: translate3d(0,0,0) rotate(-45deg);
		}
		&:after{
			transform: translate3d(0,0,0) rotate(45deg);
		}
	}
}

.menu-show {
	@include bp($bp-1280) {
		overflow: auto !important;
	}
	@include maxBp($bp-1280) {
		padding-right: var(--scroll-width);
		position: fixed !important;
		overflow: hidden;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		.header {
			max-width: calc(100% - var(--scroll-width));
		}
		.header__menu {
			transform: translate3d(0, 0, 0);
		}

	}
}
