extends ./_layout
include ./mixins/list/breads

block vars
    -
        page = 'about'

block content

    div(class="wrapper__page article__top")

        -
            const breads = [
                {
                    name: 'Главная',
                    url: 'main.html',
                },
                {
                    name: 'О компании',
                    url: '',
                },
            ];
        +breads-list(breads)

        div(class="text-col text-content mb-m")

            h1 О компании
            h2 «Технология спорта» — это крупнейшая сеть магазинов для конного спорта в России.
            mark
                | Мы существуем на рынке конноспортивных товаров с 2001 года и являемся поставщиком таких топовых брендов, как:<br>
                | <strong>Prestige</strong> (Италия), <strong>Equiline</strong> (Италия), <strong>La Gee</strong>(Франция), <strong>Cavalleria Toscana</strong> (Италия), <strong>Euroriding</strong> (Германия), <strong>Vestrum</strong> (Италия), <strong>Eskadron</strong> (Германия), <strong>Freejump</strong> (Франция), <strong>Jin Stirrup</strong> (Италия)
            p Конный интернет - магазин «Технология спорта» предлагает вам познакомиться с ассортиментом, не выходя из дома. Качественная амуниция, стильная одежда для верховой езды, защитная экипировка для всадника, оборудование в конюшню, средства для ухода за лошадью, подкормки, полезная литература, сувенирная продукция – в нашем магазине вы найдете товары на любой вкус и бюджет. Мы позаботились о том, чтобы и конники любители, и опытные спортсмены с высокими требованиями были довольны нашей работой. Немногие сайты конных магазинов могут похвастаться таким большим и разнообразным каталогом товаров.
            p Почему «Технология спорта» столь престижный конный магазин? Помимо широкого ассортимента и возможности поставок по индивидуальному заказу, мы оказываем комплекс услуг по выбору и обслуживанию седел, приобретенных в нашей торговой сети. Согласитесь, покупая автомобиль, вы непременно поинтересуетесь условиями гарантийного обслуживания. Покупка хорошего седла – дело не менее ответственное, чем приобретение авто, а значит и сервис для клиента должен быть на высшем уровне.
            p «Технология спорта» — это крупнейшая сеть магазинов для конного спорта в России. Наши конные магазины расположены не только в Москве и Московской области, но и в Санкт-Петербурге, Екатеринбурге. Во всех торговых точках для вас работают грамотные продавцы, прекрасно разбирающиеся в реализуемой продукции.
            p А в нашем конном интернет-магазине вы можете заказать товары в любой регион России. Кстати, если нужная вам вещь есть в наличии в одной из торговых точек, мы бесплатно перевезем ее в ближайший к вам филиал.
            h3 Реквизиты
            p
                | ООО "ПРЕСТИЖ СПОРТ"<br>
                | ИНН 5007113147<br>
                | ОГРН 1215000052915<br>
                | 141865, Московская область, Г.О. Дмитровский, дер. Горки Сухаревские, д. 67, к. 2, блок 6
