include ./mixins/basic/_icon-sym
-
    var catalogSliderDisable = true

include ./blocks/catalog-list
div(class="catalog-load-more")
    a(href="ajax-catalog-list.html" class="btn btn--wide btn--green-border js-catalog-load-more") Показать больше
