extends ./_layout
include ./mixins/list/breads
include ./mixins/list/articles
include ./mixins/list/category-popular

block vars
    -
        page = 'media'

block content

    div(class="wrapper__page article__top")

        -
            const breads = [
                {
                    name: 'Главная',
                    url: 'main.html',
                },
                {
                    name: 'Медиа',
                    url: '',
                },
            ];
        +breads-list(breads)

        h1 Медиа

        -
            const menuMedia = [
                {
                    name: 'Видео',
                    link: 'media.html',
                },
                {
                    name: 'Статьи',
                    link: 'articles.html',
                    active: true,
                },
            ];
        section(class="mb-m")
            +category-popular(menuMedia)


        -
            const articles = [
                {
                    name: 'Конный этикет: проверьте корректность поведения своей лошади',
                    img: 'images/content/video-1.jpg',
                    text: 'Корректное поведение лошади — это не только один из столпов грамотной работы, но и основа техники безопасности. И это касается не только работы под верхом. Иногда коневладельцы не уделяют должного внимания дисциплине своего четвероногого партнера, что со временем приводит к негативным последствиям.',
                },
                {
                    name: 'Родина современных домашних лошадей',
                    img: 'images/content/video-2.jpg',
                    text: 'Происхождение современных домашних лошадей — спорный и сложный вопрос, в котором главенствуют 2 науки: генетика и археология. Ученые долгое время не могли определить точный регион появления лошадей. Их родиной считались самые разные регионы: от территории современной Португалии до Монголии.',
                },
                {
                    name: 'Эпоха Сандро Хита',
                    img: 'images/nophoto-horizontal.svg',
                    text: 'На днях в возрасте 28 лет пал легендарный жеребец-производитель Sandro Hit. Из-за инфекции его состояние ухудшилось, и владелец принял решение усыпить коня. Sandro Hit родился в 1993 году на конюшне Рейнхольда Хардера и вскоре был выкуплен Паулем Шокемюле.',
                },
                {
                    name: 'Конный этикет: проверьте корректность поведения своей лошади',
                    img: 'images/content/video-4.jpg',
                    text: 'Корректное поведение лошади — это не только один из столпов грамотной работы, но и основа техники безопасности. И это касается не только работы под верхом. Иногда коневладельцы не уделяют должного внимания дисциплине своего четвероногого партнера, что со временем приводит к негативным последствиям.',
                },
            ];
        +articles-list(articles)

        include ./blocks/pages
