extends ./_layout
include ./mixins/list/breads
include ./mixins/list/articles
include ./mixins/list/category-popular

block vars
    -
        page = 'media'

block content

    div(class="wrapper__page article__top")

        -
            const breads = [
                {
                    name: 'Главная',
                    url: 'main.html',
                },
                {
                    name: 'Медиа',
                    url: 'mdeia.html',
                },
                {
                    name: 'Конный этикет: проверьте корректность поведения своей лошади',
                    url: '',
                },
            ];
        +breads-list(breads)

        div(class="text-col text-content mb-m")

            h1 Конный этикет: проверьте корректность поведения своей лошади

            img(data-src="images/content/article-1.jpg" alt="")
            ul
                li
                    a(href="#article-1") «Поймай меня если сможешь»
                li
                    a(href="#article-2") Умение ходить “в руках”
                li
                    a(href="#article-3") «Спокойствие, только спокойствие»
                li
                    a(href="#article-4") Отсутствие реакции на других лошадей

            p Корректное поведение лошади — это не только один из столпов грамотной работы, но и основа техники безопасности. И это касается не только работы под верхом. Иногда коневладельцы не уделяют должного внимания дисциплине своего четвероногого партнера, что со временем приводит к негативным последствиям.
            p Если у вас есть проблемы с каким-либо пунктом из перечисленных ниже, то вам определенно стоит поработать над поведением лошади.

            div(id="article-1" class="text-anchor")
            h2 «Поймай меня если сможешь»
            p Прежде всего лошадь должна давать человеку надеть на себя уздечку или недоуздок. Если попытки поймать лошадь в деннике или леваде отнимают у вас много времени, то нужно обязательно обратить на это внимание. При этом процесс надевания недоуздка не должен быть похож на ритуал из тысячи действий — это должно стать для лошади привычной манипуляцией.
            p Ведь все начинается с малого — лошадь, которая не дает сделать такую простую вещь, скорее всего, будет проявлять непослушание и в других моментах работы.
            p Однако, если лошадь систематически не дает надеть уздечку, стоит проконсультироваться с ветеринаром. Возможно это действие причиняет ей дискомфорт — затылок и рот лошади крайне чувствительны, и неправильно подобранная амуниция или физические проблемы могут причинять боль.
            blockquote
                | Прежде всего лошадь должна давать человеку надеть на себя уздечку или недоуздок. Если попытки поймать лошадь в деннике или леваде отнимают у вас много времени, то нужно обязательно обратить на это внимание. При этом процесс надевания недоуздка не должен быть похож на ритуал из тысячи действий — это должно стать для лошади привычной манипуляцией.
            cite Зигмунд Фрейд

            div(id="article-2" class="text-anchor")
            h2 Умение ходить “в руках”
            p Ваша лошадь должна спокойно идти рядом идти рядом с вами на чомбуре или корде. Она должна внимательно относиться к движениям и командам. Неприемлемым поведением считаются остановки каждый метр в попытке ухватить очередной пучок травы или попытки оттолкнуть человека плечом. Лошадь должна осаживать по команде даже в руках.
            p Если у вас часто возникают проблемы с послушанием лошади “в руках”, то следует уделять этому больше внимания.

            div(id="article-3" class="text-anchor")
            h2 «Спокойствие, только спокойствие»
            p Ваша лошадь должна спокойно стоять на развязках и переносить стандартные манипуляции: ковку, ветеринарный осмотр, седловку или бритье. Есть множество причин, по которым лошадь не стоит на развязках или демонстрирует некорректное поведение:
            ul
                li Физический дискомфорт;
                li Страх из-за полученной психологической или физической травмы;
                li Гиперактивность (неумение сконцентрировать внимание на всаднике, плохая концентрация), далее текст тестовый для проверки наполнения, пример в две строки
            p Ваша лошадь должна спокойно стоять на развязках и переносить стандартные манипуляции: ковку, ветеринарный осмотр, седловку или бритье.
            p Есть множество причин, по которым лошадь не стоит на развязках или демонстрирует некорректное поведение:

            div(id="article-4" class="text-anchor")
            h2 Отсутствие реакции на других лошадей
            p Во время работы ваша лошадь должна быть сосредоточена на вас, а не на происходящие вокруг события. К этому относятся и другие лошади.
            p Не позволяйте лошади отвлекаться на своих «коллег» во время тренировки. Это поможет вам наладить более тесный контакт с лошадью, а выполнять элементы станет легче, когда он будет сконцентрирован только на работе.

            img(data-src="images/content/article-2.jpg" alt="")
            ol
                li Физический дискомфорт;
                li Страх из-за полученной психологической или физической травмы;
                li Гиперактивность (неумение сконцентрировать внимание на всаднике, плохая концентрация);
                li Некомфортное для лошади место (слишком узкий проход, темное помещение, близкое расположение другой лошади).
            p Во время работы ваша лошадь должна быть сосредоточена на вас, а не на происходящие вокруг события. К этому относятся и другие лошади.
            p Не позволяйте лошади отвлекаться на своих «коллег» во время тренировки. Это поможет вам наладить более тесный контакт с лошадью, а выполнять элементы станет легче, когда он будет сконцентрирован только на работе.
