extends ./_layout
include ./mixins/list/breads
include ./mixins/list/catalog-product

block vars
    -
        page = 'catalog-categories'
        catalogEmpty = true

block content

    div(class="wrapper__page article__top")

        -
            const breads = [
                {
                    name: 'Главная',
                    url: 'main.html',
                },
                {
                    name: 'Каталог',
                    url: 'catalog-categories.html'
                },
                {
                    name: 'Для всадника',
                    url: 'catalog-category.html'
                },
                {
                    name: 'Редингот мужской Elite Men Jacket,  GPA Португалия',
                    url: ''
                },
            ];
        +breads-list(breads)


        -
            const product = {
                name: 'Сапоги кожаные Fouganza 560',
                price: '14 299 ₽',
                price_old: '16 999 ₽',
                sizes: ['36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47'],
                labels: [
                    {
                        name: 'New',
                        color: 'gray',
                    },
                    {
                        name: 'Top',
                        color: 'black',
                    },
                    {
                        name: '-15%',
                        color: 'red',
                    }
                ],
                colors: [
                    {
                        hex: '#1A1A1A',
                        photos: [
                            'images/content/product-1-1-m.jpg',
                            'images/content/product-1-2-m.jpg',
                            'images/content/product-1-3-m.jpg',
                            'images/content/product-1-4-m.jpg',
                            'images/content/product-1-5-m.jpg',
                            'images/content/product-1-6-m.jpg',
                            'images/content/product-1-7-m.jpg',
                            'images/content/product-1-8-m.jpg',
                        ],
                        photos_full: [
                            'images/content/product-1-1-f.jpg',
                            'images/content/product-1-2-f.jpg',
                            'images/content/product-1-3-f.jpg',
                            'images/content/product-1-4-f.jpg',
                            'images/content/product-1-5-f.jpg',
                            'images/content/product-1-6-f.jpg',
                            'images/content/product-1-7-f.jpg',
                            'images/content/product-1-8-f.jpg',
                        ],
                        photos_small: [
                            'images/content/product-1-1-s.jpg',
                            'images/content/product-1-2-s.jpg',
                            'images/content/product-1-3-s.jpg',
                            'images/content/product-1-4-s.jpg',
                            'images/content/product-1-5-s.jpg',
                            'images/content/product-1-6-s.jpg',
                            'images/content/product-1-7-s.jpg',
                            'images/content/product-1-8-s.jpg',
                        ]
                    },
                    {
                        hex: '#805137',
                        photos: [
                            'images/content/product-color-1-1.jpg',
                            'images/content/product-color-1-2.jpg',
                        ],
                        photos_full: [
                            'images/content/product-color-1-1.jpg',
                            'images/content/product-color-1-2.jpg',
                        ],
                        photos_small: [
                            'images/content/product-color-1-1.jpg',
                            'images/content/product-color-1-2.jpg',
                        ]
                    },
                    {
                        hex: '#E0C785',
                        photos: [
                            'images/content/product-color-1-1.jpg',
                        ],
                        photos_full: [
                            'images/content/product-color-1-1.jpg',
                        ],
                        photos_small: [
                            'images/content/product-color-1-1.jpg',
                        ]
                    },
                    {
                        hex: '#BA2121',
                        photos: [
                            'images/content/product-color-1-1.jpg',
                            'images/content/product-color-1-2.jpg',
                        ],
                        photos_full: [
                            'images/content/product-color-1-1.jpg',
                            'images/content/product-color-1-2.jpg',
                        ],
                        photos_small: [
                            'images/content/product-color-1-1.jpg',
                            'images/content/product-color-1-2.jpg',
                        ]
                    },
                    {
                        hex: '#FFFFFF',
                        photos: [
                            'images/content/product-color-1-1.jpg',
                            'images/content/product-color-1-2.jpg',
                        ],
                        photos_full: [
                            'images/content/product-color-1-1.jpg',
                            'images/content/product-color-1-2.jpg',
                        ],
                        photos_small: [
                            'images/content/product-color-1-1.jpg',
                            'images/content/product-color-1-2.jpg',
                        ]
                    },
                    {
                        hex: '#374772',
                        photos: [
                            'images/content/product-color-1-1.jpg',
                            'images/content/product-color-1-2.jpg',
                        ],
                        photos_full: [
                            'images/content/product-color-1-1.jpg',
                            'images/content/product-color-1-2.jpg',
                        ],
                        photos_small: [
                            'images/content/product-color-1-1.jpg',
                            'images/content/product-color-1-2.jpg',
                        ]
                    }
                ]
            }

        +catalog-product(product)

        h2 Похожие товары
        include ./blocks/catalog-list

        h2 Сопутствующие товары
        include ./blocks/catalog-list

        h2 Просмотренные товары
        -
            var catalogSmall = true
        include ./blocks/catalog-list





