extends ./_layout
include ./mixins/list/breads
include ./mixins/list/faq
include ./mixins/basic/_modal

block vars
    -
        page = 'faq'

block content

    div(class="wrapper__page article__top")

        -
            const breads = [
                {
                    name: 'Главная',
                    url: 'main.html',
                },
                {
                    name: 'Вопрос-ответ',
                    url: '',
                },
            ];
        +breads-list(breads)

        h1 Вопрос-ответ

        div(class="text-col mb-m")
            p Добро пожаловать на страницу вакансий нашей компании! Мы гордимся тем, что предлагаем своим сотрудникам не только интересные и разнообразные задачи, но и отличные условия труда. Работая у нас, вы можете рассчитывать на стабильную заработную плату, профессиональное развитие, приятный коллектив и множество других преимуществ.

        -
            const faq = [
                {
                    name: 'Возможен ли самовывоз заказанного товара, пример самого длинного вопроса про что-нибудь?',
                    text: 'Вы можете самостоятельно забрать заказанные товары в наших магазинах.'
                },
                {
                    name: 'Как осуществляется доставка в регионы?',
                    text: '<p>Товары нашего магазина доставляют покупателям транспортные компании:</p> <ul><li>Россия — EMS, Почта России, СПСР-экспресс, DHL;</li> <li>Белоруссия — M@M;</li> <li>Украина — Новая Почта.</li></ul>'
                },
                {
                    name: 'Как расчитать стоимость доставки в Магадан?',
                    text: 'Для точного расчета стоимости доставки вашего заказа обращайтесь к операторам call-центра или задайте вопрос через онлайн-консультанта.'
                },
            ];
        +faq-list(faq)


        section(class="faq-help mt-m")
            div(class="faq-help__item")
                +icon-sym('docs')
                div(class="faq-help__text")
                    div(class="h3 mb-3xs") Не нашли ответа на свой вопрос?
                    p Свяжитесь с нами, и мы предоставим необходимую информацию.
            div(class="btn btn--wide btn--green faq-help__btn" data-micromodal="modal-feedback-message") Задать вопрос
