extends ./_layout
include ./mixins/list/breads
include ./mixins/list/category-popular

block vars
    -
        page = 'help-return'

block content

    div(class="wrapper__page article__top")

        -
            const breads = [
                {
                    name: 'Главная',
                    url: 'main.html',
                },
                {
                    name: 'Помощь покупателям',
                    url: 'help.html',
                },
                {
                    name: 'Гарантия на товар',
                    url: '',
                },
            ];
        +breads-list(breads)

        h1 Помощь покупателям

        include ./blocks/help-menu

        div(class="text-col text-content mb-m")
            h2 Возврат
            h4 Обмен и возврат продукции надлежащего качества
            p Покупатель в течение 14 дней с момента приобретения товара может отказаться от товара надлежащего качества, если:
            ul
                li товар не поступал в эксплуатацию и имеет товарный вид;
                li находится в упаковке со всеми ярлыками;
                li есть документы на приобретение товара;
                li товар не входит в перечень продуктов надлежащего качества, не подлежащих возврату и обмену (лекарственные средства, кормовые добавки, косметика и т.д.).
            p Основанием для возврата является личное заявление покупателя с указанием паспортных данных и платежных реквизитов для возврата денег. Покупатель имеет право обменять товар надлежащего качество на другое торговое предложение этого товара или другой товар, идентичный по стоимости или на иной товар с доплатой или возвратом разницы в цене.
            p Покупатель вправе отказаться от получения товара в момент доставки. При этом стоимость услуг по доставке будет удержана в полном объеме.
            p Мы настоятельно рекомендуем вам вскрывать заказ при его получении, в присутствии курьера или сотрудников транспортной компании, для проверки соответствия содержимого заказа. В случае несоответствия (недовложения, вложения неправильного артикула), транспортного или производственного брака вам будет необходимо составить акт и сообщить об этом нам по телефону 8(495)139-66-00
            h4 Обмен и возврат продукции ненадлежащего качества
            p В случае обнаружения брака, покупатель имеет право вернуть товар в интернет-магазин, и в соответствии с Законом о защите прав потребителей, покупатель получает взамен аналогичный товар надлежащего качества, либо покупателю возвращаются деньги, полученные за заказ.
            p Основанием для возврата является личное заявление покупателя с указанием паспортных данных и платежных реквизитов для возврата денег.
            h4 Возврат денежных средств
            p Независимо от способа оплаты заказа, возврат денежных средств будет осуществлен на основании оригинала заявления и документов подтверждающих оплату, одним из следующих способов, в зависимости от способа оплаты:
            ul
                li если оплата была произведена наличными, то возврат осуществляется из главной кассы  по адресу:  г. Москва, Балаклавский проспект, д. 33, подъезд 6 с 10.00 до 19.00 по рабочим дням, на основании письменного заявления с указанием ФИО и только при предъявлении документа, удостоверяющего личность (паспорта или документа, его заменяющего).
                li если оплата была произведена банковской картой, то обязательно ее наличие, для осуществления возврата на банковскую карту,  с которой была произведена оплата. Возврат при онлайн-оплате производится на ваш банковский счёт в течение 5-30 рабочих дней (срок зависит от банка, который выдал вашу банковскую карту).
                li если был перевод по счету, то путем перечисления соответствующей суммы на указанный вами банковский счет.
            p Указать реквизиты для возврата средств Вам нужно в соответствующем заявлении.
            p Обратите внимание, возврату подлежат только денежные средства, оплаченные за товар, без учета доставки.

