extends ./_layout
include ./mixins/list/breads
include ./mixins/list/category-popular

block vars
    -
        page = 'help-rates'

block content

    div(class="wrapper__page article__top")

        -
            const breads = [
                {
                    name: 'Главная',
                    url: 'main.html',
                },
                {
                    name: 'Помощь покупателям',
                    url: 'help.html',
                },
                {
                    name: 'Гарантия на товар',
                    url: '',
                },
            ];
        +breads-list(breads)

        h1 Помощь покупателям

        include ./blocks/help-menu

        div(class="text-col text-content mb-m")
            h2 Тарифы выездного специалиста по седлам
            table
                tr
                    th Тарифы
                    th В пределах МКАД и 10 км от МКАД
                    th В пределах 100 км от МКАД и в границах Московской области, свыше 10 км от МКАД
                    th За пределами Московской области и свыше 100 км от МКАД
                tr
                    td Выезд с примеркой при покупке седла
                    td Бесплатно
                    td При покупке седла - бесплатно. При отсутствии покупки - по тарифам выезда для постпродажного обслуживания
                    td Выезд всегда платный и только по согласованию с сотрудником. Тариф - по тарифам выезда для постпродажного обслуживания.
                tr
                    td Постпродажное обслуживание (оценка состояния, корректировка), стоимость вызова
                    td 5 000 ₽
                    td 5 000 ₽ плюс 200 ₽ за каждые начатые 10 км после 10 км от МКАД
                    td 5 000 ₽ плюс 200 ₽ за каждые начатые 10 км после 10 км от МКАД
                tr
                    td Корректировка размера ленчика
                    td 5 000 ₽
                    td 5 000 ₽
                    td 5 000 ₽
                tr
                    td Небольшая корректировка набивки
                    td 2 000 ₽
                    td 2 000 ₽
                    td 2 000 ₽
                tr
                    td Значительная корректировка набивки
                    td 4 000 ₽
                    td 4 000 ₽
                    td 4 000 ₽
