extends ./_layout
include ./mixins/list/breads
include ./mixins/list/category-popular

block vars
    -
        page = 'help-bonus'

block content

    div(class="wrapper__page article__top")

        -
            const breads = [
                {
                    name: 'Главная',
                    url: 'main.html',
                },
                {
                    name: 'Помощь покупателям',
                    url: 'help.html',
                },
                {
                    name: 'Гарантия на товар',
                    url: '',
                },
            ];
        +breads-list(breads)

        h1 Помощь покупателям

        include ./blocks/help-menu

        div(class="text-col text-content mb-m")
            h2 Положение о бонусной программе
            h3 Термины и определения
            table
                tr
                    th(colspan="2") Термины и определения
                tr
                    td
                        strong Бонусная карта
                    td Карта с уникальным штрих кодом являющимся номером карты (далее – Карта). Предполагается один вид карт – реальный
                tr
                    td
                        strong Клиент
                    td Любое физическое лицо , достигшее возраста 18 лет, который совершил покупку в торговой сети «Технология спорта»
                tr
                    td
                        strong Бонус
                    td Начисленный бонус равен одному рублю РФ
                tr
                    td
                        strong Держатель карты
                    td Любое физическое лицо достигшее возраста 18 лет, который совершил покупку в торговой сети «Технология спорта»

            h4 1. Основные положения.
            p 1.1. Бонусная программа «Технология спорта» (далее – Программа) – это программа лояльности, разработанная для постоянных покупателей торговой сети «Технология спорта». Участники программы накапливают бонусы за совершаемые покупки и могут расплачиваться ими за следующие покупки , но не более 50% от общей стоимости покупки.
            p 1.2. Участниками программы могут быть дееспособные лица, достигшие возраста 18 лет, граждане Российской Федерации, иностранные граждане и лица без гражданства
            p 1.3. Участнику программы выдается реальная (физическая) бонусная карта «Технология спорта» - пластиковая карта с уникальным штрих кодом, который является ее номером ( далее – Карта). С момента получения Карты физическое лицо является держателем Карты.
            p 1.4. Заполнение анкеты, регистрация и пользование Картой подтверждает факт ознакомления участника Программы с настоящим Положением , безусловное согласие участника Программы с их условиями и добровольное принятие обязанностей по их соблюдению. 1.5. Участвуя в Программе, Участник выражает свое согласие на получение СМС – сообщений и электронных уведомлений с информацией о торговой сети «Технология спорта» ( рекламных и специальных предложениях, акциях, розыгрышах, а также иной информации о деятельности компании), по указанному в анкете номеру мобильного телефона, электронному адресу в целях максимального использования участником Программы возможностей , предоставляемых ему Бонусной программой. Участник программы вправе в любое время отказаться от рассылки , обратившись с заявлением по телефону +7 (495) 139-66-00, или направив информацию об этом на электронный адрес <a href="mailto:shop@racessport.ru">shop@racessport.ru</a>.
            p 1.6. Карта не является именной, но уникальный штрих код карты , который является ее номером присваивается к данным клиента индивидуально. Карта может быть передана третьему лицу только на условиях постоянности и только с заявления держателя Карты с просьбой перерегистрировать ее на другое физическое лицо.

            h4 2. Порядок получения Бонусной карты.
            p 2.1. Пластиковая Бонусная карта выдается в торговой сети «Технология спорта» при покупке от 10 001 рублей.
            p 2.2. Предполагается один вид карт – реальная.
            p  2.3. Номер бонусной карты- последовательность из 13 цифр (штрих код). При выпуске новой карты номера присваиваются не последовательно , а случайным образом, чтобы снизить вероятность махинаций при ручном переборе номеров карт.
            p 2.4. Карта содержит следующие обязательные элементы:
            ul
                li Логотип
                li Список магазинов
                li Адрес сайта торговой сети
                li Электронный адрес для обратной связи
                li Индивидуальный штрих код
            p 2.5. Восстановление карты после утери с тем же уникальным штрих кодом не предполагается. В случае утери, Клиенту нужно будет получить новую карту, после обращения в один из магазинов торговой сети «Технология спорта» и написания заявления установленного в торговой сети формата.

            h4  3. Активация карты.
            p 3.1. Карта не требует дополнительной активации. Она готова к использованию.
            p 3.2. Бумажная анкета участника Программы считается корректно заполненной и принимается сотрудниками торговой сети «Технология спорта» в случае, если:
            ul
                li Анкета заполнена отчетливо, печатными буквами без исправлений. Заполнены все обязательные поля Анкеты, выделенные звездочкой.
                li Анкета без подписи участника Программы считается недействительной и уничтожается.
            p 3.3. В случае отказа от заполнений Анкеты или полей, обязательных для заполнения, Карта подлежит обязательному возврату сотруднику торговой сети «Технология спорта».

            h4 4. Начисление бонусных баллов
            p 4.1. При совершении покупки в одном из магазинов, участвующих в программе от 5% до 20% от суммы каждой покупки возвращается бонусами на баланс держателя Карты.
            table
                tr
                    th Сумма покупки
                    th Сумма накоплений ( в % )
                tr
                    td От 1 рубля до 10 000 рублей
                    td  0 %
                tr
                    td От 10 001 рублей до 50 000 рублей
                    td 5 %
                tr
                    td От 50 001 рублей до 100 000 рублей
                    td 15 %
                tr
                    td От 100 001 рублей и выше
                    td 20 %
            p 4.2. Начисление бонусных баллов происходит спустя 14 дней после совершения покупки.
            p 4.3. Описанный способ накопления справедлив только для карт, зарегистрированных в программе 1С торговой сети «Технология спорта». Если бонусная карта не занесена в программу 1С, то начисления бонусов за покупку не предполагается.
            p 4.4. Идентификация номера бонусной карты на кассе происходит путем считывания штрих-кода сканером (при наличии технической возможности) или путем ручного ввода кассиром номера карты.
            p 4.5. Бонусы начисляются на Карту при условии предъявления Карты на кассовом терминале в одном из магазинов торговой сети «Технология спорта»
            p 4.6. Бонусы за одну покупку начисляются на Карту только один раз, общее количество бонусов, начисленных на одну Карту, суммируется. Начисление бонусов без предъявления пластиковой Карты возможно только после предъявления паспорта участника Программы и озвучивания номера телефона указанного при заполнения анкеты на получение бонусной карты.
            p 4.7. Бонусы начисляются на Карту за приобретение товаров реализуемых торговой сетью «Технология спорта», за исключением товаров на комиссии и прочих товаров, согласно утвержденному руководством Компании списку.
            p 4.8. За товары, приобретаемые за подарочные сертификаты и подарочные карты торговой сети «Технология спорта», баллы не накапливаются.
            p 4.9. Баллы накапливаются за приобретение подарочных карт.
            p 4.10. Бонусы за покупку становятся доступны для их использования спустя 14 дней со дня покупки.
            p 4.11. Бонусы начисляются только при оплате полной стоимости товара без учета акций, скидок и списания бонусных баллов.
            p 4.12. Бонусы хранятся на карте в течение всего «жизненного цикла» бонусной карты.
            p 4.13. Держатель карты должен самостоятельно следить за количеством бонусов на Карте. Данную информацию он может получить, обратившись к любому сотруднику торговой сети «Технология спорта», при условии наличия у сотрудника компьютера с программой 1С.
            p 4.14. Бонусы на карту не начисляются:
            ul
                li При покупке подарочных сертификатов
                li На оставшуюся сумму покупки после использования ранее накопленных бонусов
                li На сумму покупки, оплаченную только бонусами
                li
                    strong На акционный товар
                li
                    strong На уцененный товар
                li На товар, продающийся по договору реализации
                li
                    strong На товар на комиссии
                li
                    strong На отдельные виды товаров
                    |  (согласно внутренней политики магазина)
            p 4.15. Для использования Бонусов, накопленных на Бонусной Карте, сумма покупки ( сумма в товарном чеке) может быть любой.
            p 4.16. При приобретении товаров бонусы списываются с Карты в соотношении 1 бонус = 1 рубль
            p 4.17. Для оплаты товара бонусами может быть использована только одна Карта. Бонусы с двух и более Карт ( при наличии таковых) не суммируются и не списываются в счет приобретения товара по одному товарному чеку.
            p 4.18. Участник программы не может перенести накопленные бонусы с своей бонусной карты на карту другому участника программы.
            P 4.19. При приобретении товара Держатель карты имеет право выбирать , какое количество накопленных бонусов он желает потратить для оплаты приобретаемого товара.
            P 4.20. Информация о количестве бонусов отображается в 1С в документе ЧЕК. Кассир информирует Держателя карты о накопленных активных бонусах и уточняет у Держателя карты, какое количество бонусов можно списать.
            P 4.21. Бонусами можно оплатить не более 50% от общей суммы покупки ( товарного чека).
            h4 5. Дополнительные условия.
            p 5.1. Карта не может быть использована для целей , не предусмотренных в настоящих Правилах, в том числе для получения наличных денежных средств.
            p 5.2. В случае утери, кражи или утраты Карты участнику Программы необходимо обратиться в любой магазин торговой сети «Технология спорта» и заполнить заявление на установленном организацией бланке. Новая карта может быть выдана только при предъявлении документа, удостоверяющего личность. Утерянная карта блокируется, общая сумма покупок и Бонусы, накопленные на утерянной карте, переносятся на новую карту. При несовпадении данных, указанных в паспорте, с данными, указанными в карточке контрагента или в Анкете, карта Участника не восстанавливается.
            p 5.3. В случае повреждения Бонусной карты , она подлежит обмену на новую с сохранением бонусов, находившихся на Карте на дату ее обмена. Для обмена поврежденной Карты участнику Программы необходимо обратиться в любой магазин торговой сети «Технология спорта» и заполнить заявление на установленном организацией бланке. Новая карта может быть выдана только при предъявлении документа, удостоверяющего личность. Поврежденная карта блокируется, общая сумма покупок и Бонусы, накопленные на утерянной карте, переносятся на новую карту. При несовпадении данных, указанных в паспорте, с данными, указанными в карточке контрагента или в Анкете, карта Участника не восстанавливается. Поврежденная карта передается сотруднику торговой сети «Технология спорта» в момент получения новой.
            p 5.4. При возврате , обмене или замене товара, за приобретение которого на Карту начислялись бонусы, бонусы возвращаются на баланс Карты после предъявления Карты сотруднику торговой сети «Технология спорта»
            p 5.5. Бонусы, возвращенные на баланс Карты, становятся доступны в течение 1 дня с момента оформления возврата.
            p 5.6. Если по техническим причинам возможность произвести зачисление или списание бонусов с Карта отсутствует, держателю бонусной карты может быть отказано в проведении операции списания или начисления бонусов.
            p 5.7. При наличии сомнений в обоснованности проведенной операции по начислению на Карту участника Программы, Карта может быть заблокирована до выяснения обстоятельств начисления Бонусов. Бонусы , необоснованно начисленные на Карту, подлежат аннулированию.
            p 5.8. ООО "ПРЕСТИЖ СПОРТ" не несет ответственности за ущерб, причиненный участнику Программы в результате использования Карты третьими лицами, а так же за отсутствие возможности пользоваться Картой по причине действия обстоятельств непреодолимо силы или по техническим причинам вызвавшими сбой работы Программы в работе торговой сети « Технология спорта», а также изменения условий бонусной программы в одностороннем порядке.
            p 5.9. В случае поступления Карты во владение третьих лиц все риски, связанные с недобросовестным использованием бонусов находящихся на Карте, несет участник Программы.
            p 5.10. В случае поступления в адрес одного из магазинов сети «Технология спорта» заявления Участника Программы об отзыве согласия на использование его персональных данных в рамках Программы, с даты, последующей за днем получения такого заявления (если в заявлении не был указан более поздний срок) действие Карты прекращается, все начисленные бонусы аннулируются.
            p 5.11. В случае возникновения вопросов связанных с участием в программе « Технология спорта», участник Программы в праве направить свои вопросы по электронному адресу
                a(href='mailto:shop@racessport.ru') shop@racessport.ru
                |  или по телефону +7 (495) 139-66-00
            p 5.12. Администрация торговой сети «Технология спорта» оставляет за собой право в одностороннем порядке вносить изменений в «Правила участия в бонусной программе «Технология спорта». Все изменения Правил отображаются на сайте
                a(href='https://racessport.ru/') www.racessport.ru
                |  и вступают в силу на следующий день, после размещения на сайте.
            p 5.13. Администрация торговой сети «Технология спорта» оставляет за собой право в одностороннем порядке принять решение о прекращении действия бонусной программы как в целом, так и в отношении одного из участников Программы. Если решение принято в отношении всей Программы, то данная информация размещается на сайте
                a(href='https://racessport.ru/') www.racessport.ru
                |  и вступает в силу не позднее чем за тридцать (30) после размещения на сайте.
