extends ./_layout
include ./mixins/list/pages

block content

    div(class="wrapper__page article__top")

        h1 Страницы

        di(class="text-content")
            -
                const pages = [
                    {
                        name: 'Главная',
                        url: 'main.html',
                    },
                    {
                        name: 'Каталог категории',
                        url: 'catalog-categories.html',
                    },
                    {
                        name: 'Каталог категория',
                        url: 'catalog-category.html',
                    },
                    {
                        name: 'Результаты поиска',
                        url: 'search.html',
                    },
                    {
                        name: 'Результаты поиска (пусто)',
                        url: 'search-no-result.html',
                    },
                ];
            +pages-list(pages)
