extends ./_layout
include ./mixins/list/pages

block content

    div(class="wrapper__page article__top")

        h1 Страницы

        div(class="text-content")
            -
                const pages = [
                    {
                        name: 'Главная',
                        url: 'main.html',
                    },
                    {
                        name: 'Каталог категории',
                        url: 'catalog-categories.html',
                    },
                    {
                        name: 'Каталог категория',
                        url: 'catalog-category.html',
                    },
                    {
                        name: 'Карточка товара',
                        url: 'catalog-product.html',
                    },
                    {
                        name: 'Карточка товара (нет в наличии)',
                        url: 'catalog-product-empty.html',
                    },
                    {
                        name: 'Результаты поиска',
                        url: 'search.html',
                    },
                    {
                        name: 'Результаты поиска (пусто)',
                        url: 'search-no-result.html',
                    },
                    {
                        name: 'Корзина',
                        url: 'basket.html',
                    },
                    {
                        name: 'Корзина (пусто)',
                        url: 'basket-empty.html',
                    },
                    {
                        name: 'Оформление заказа (неавторизованный)',
                        url: 'order.html',
                    },
                    {
                        name: 'Оформление заказа (авторизованный)',
                        url: 'order-auth.html',
                    },
                    {
                        name: 'Заказ оформлен',
                        url: 'order-finish.html',
                    },
                    {
                        name: 'Заказ оформлен (оплачен)',
                        url: 'order-finish-payment.html',
                    },
                    {
                        name: 'Заказ оформлен (ошибка)',
                        url: 'order-finish-error.html',
                    },
                    {
                        name: 'Личный кабинет (вход)',
                        url: 'lk-enter.html',
                    },
                    {
                        name: 'Личный кабинет (забыл пароль)',
                        url: 'lk-password-email.html',
                    },
                    {
                        name: 'Личный кабинет (введите новый пароль)',
                        url: 'lk-password.html',
                    },
                    {
                        name: 'Личный кабинет (регистрация)',
                        url: 'lk-registration.html',
                    },
                    {
                        name: 'Личный кабинет',
                        url: 'lk.html',
                    },
                    {
                        name: 'Личный кабинет (личные данные)',
                        url: 'lk-profile.html',
                    },
                    {
                        name: 'Личный кабинет (Текущие заказы)',
                        url: 'lk-orders.html',
                    },
                    {
                        name: 'Личный кабинет (Текущие заказы, пусто)',
                        url: 'lk-orders-empty.html',
                    },
                    {
                        name: 'Бренды',
                        url: 'brands.html',
                    },
                    {
                        name: 'Медиа - Видео',
                        url: 'media.html',
                    },
                    {
                        name: 'Медиа - Статьи',
                        url: 'articles.html',
                    },
                    {
                        name: 'Медиа - Статья',
                        url: 'articles-detail.html',
                    },
                    {
                        name: 'Вакансии',
                        url: 'vacancies.html',
                    },
                    {
                        name: 'Вакансии (пусто)',
                        url: 'vacancies-empty.html',
                    },
                    {
                        name: 'Вопрос-ответ',
                        url: 'faq.html',
                    },
                    {
                        name: 'Наши магазины',
                        url: 'shops.html',
                    },
                    {
                        name: 'Карточка магазина',
                        url: 'shops-detail.html',
                    },
                    {
                        name: 'О компании',
                        url: 'about.html',
                    },
                    {
                        name: '404',
                        url: '404.html',
                    },
                    {
                        name: 'Политика',
                        url: 'policy.html',
                    },
                    {
                        name: 'Помощь покупателям',
                        url: 'help.html',
                    },
                    {
                        name: 'Гарантия на товар',
                        url: 'help-warranty.html',
                    },
                    {
                        name: 'Возврат',
                        url: 'help-return.html',
                    },
                    {
                        name: 'Тарифы выездного специалиста по седлам',
                        url: 'help-rates.html',
                    },
                    {
                        name: 'Положение о бонусной программе',
                        url: 'help-bonus.html',
                    },
                    {
                        name: 'Правила оплаты и безопасность платежей',
                        url: 'help-security.html',
                    },
                    {
                        name: 'Оплата и доставка',
                        url: 'payment-and-delivery.html',
                    },
                ];
            +pages-list(pages)

            h4 Email письма
            -
                const pageEmail = [
                    {
                        name: 'Регистрация',
                        url: 'mail-new-user.html',
                    },
                    {
                        name: 'Заказ принят',
                        url: 'mail-new-order.html',
                    },
                    {
                        name: 'Восстановление пароля',
                        url: 'mail-new-password.html',
                    },
                    {
                        name: 'Изменение заказа',
                        url: 'mail-change-order.html',
                    },
                ];
            +pages-list(pageEmail)

            h4 Модальные окна
            -
                var modalLinks = true;
                const pagesModal = [
                    {
                        name: 'Сообщение',
                        url: 'modal-message',
                    },
                    {
                        name: 'Выбор города',
                        url: 'modal-city',
                    },
                    {
                        name: 'Обратный звонок',
                        url: 'modal-feedback',
                    },
                    {
                        name: 'Корзина',
                        url: 'modal-basket',
                    },
                    {
                        name: 'Корзина (пусто)',
                        url: 'modal-basket-empty',
                    },
                    {
                        name: 'Удалить все товары из корзины?',
                        url: 'modal-basket-clear',
                    },
                    {
                        name: 'Войти',
                        url: 'modal-enter',
                    },
                    {
                        name: 'Войти через телефон',
                        url: 'modal-enter-phone',
                    },
                    {
                        name: 'Восстановить пароль',
                        url: 'modal-password-email',
                    },
                    {
                        name: 'Регистрация',
                        url: 'modal-registration',
                    },
                    {
                        name: 'Поменять пароль',
                        url: 'modal-password-change',
                    },
                    {
                        name: 'Обратная связь',
                        url: 'modal-feedback-message',
                    },
                    {
                        name: 'Отменить заказ',
                        url: 'modal-order-cancel',
                    },
                    {
                        name: 'Ваш город - Москва?',
                        url: 'modal-your-city',
                    },
                    {
                        name: 'Мы используем cookie',
                        url: 'modal-cookie',
                    },
                ];
            +pages-list(pagesModal)
