extends ./_layout
include ./mixins/list/breads

block content

    div(class="wrapper__page article__top")

        -
            const breads = [
                {
                    name: 'Главная',
                    url: 'main.html',
                },
                {
                    name: 'Восстановить пароль',
                    url: '',
                },
            ];
        +breads-list(breads)
        h1 Восстановить пароль

        form(action="#" class="form form-col js-form-validate")
            p Укажите ваш E-mail и&nbsp;получите электронное письмо с&nbsp;инструкцией по созданию нового пароля.
            div(class="form__line")
                label(class="form__label" for="enter-input-name") E-mail
                input(type="email" class="form__input" id="enter-input-name" required)
            div(class="form__submit")
                button(type="submit" class="btn btn--green btn--100") Отправить
