extends ./_layout-lk

block vars
    -
        page = "lk-profile"

block content-lk

    form(action="#" class="form form-col js-form-validate")
        div(class="form__line")
            label(class="form__label" for="reg-input-name") ФИО
            input(type="text" class="form__input" id="reg-input-name" required value="Олег")
        div(class="form__line")
            label(class="form__label" for="reg-input-phone") Телефон
            input(type="text" inputmode="tel" class="form__input js-input-format-phone" id="reg-input-phone" required value="+7 (987) 344-43-68")
        div(class="form__line")
            label(class="form__label" for="email-input-name") E-mail
            input(type="email" class="form__input" id="email-input-name" required value="mailexample@mail.ru")
        div(class="form__line")
            label(class="input-checkbox")
                input(type="checkbox")
                span(class="input-checkbox__text") Получать уведомления по смс
        div(class="form__text")
            a(href="#" data-micromodal="modal-password-change") Поменять пароль
        div(class="form__submit")
            button(type="submit" class="btn btn--green btn--100") Сохранить изменения
