extends ./_layout-mail

block content

    div(style="font-size:32px;line-height:normal;")
        strong Восстановление пароля
    br
    | Для установки нового пароля перейдите по
    a(href="https://racessport.ru/" style="color:#000000;") данной ссылке.
    div(style="font-size:10px;line-height:1;") &nbsp; <br>

    div(style="font-size:24px;line-height:1;border-bottom:1px solid #D9D9D9;") &nbsp; <br>
    div(style="font-size:24px;line-height:1;") &nbsp; <br>

    | Если вы не запрашивали восстановление пароля, проигнорируйте письмо и ваши учетные данные не будут изменены.


