extends ./_layout-mail

block content

    div(style="font-size:32px;line-height:normal;")
        strong Новый заказ
    br
    | Оформлен заказ <strong>№ 4645757-90</strong> от 24.07.2023

    div(style="font-size:24px;line-height:1;border-bottom:1px solid #D9D9D9;") &nbsp; <br>
    div(style="font-size:24px;line-height:1;") &nbsp; <br>

    strong Информация о покупателе:
    div(style="font-size:10px;line-height:1;") &nbsp; <br>

    span(style="color:#8F8F8F;") ФИО:
    | Олег
    div(style="font-size:10px;line-height:1;") &nbsp; <br>

    span(style="color:#8F8F8F;") Телефон:
    a(href="tel:+7 (987) 344-43-68" style="color:#000000;") +7 (987) 344-43-68
    div(style="font-size:10px;line-height:1;") &nbsp; <br>

    span(style="color:#8F8F8F;") E-mail:
    | mailexample@mail.ru
    div(style="font-size:10px;line-height:1;") &nbsp; <br>

    span(style="color:#8F8F8F;") Адрес:
    | г. Москва, ул. Проходчиков, 18, кв. 48
    div(style="font-size:10px;line-height:1;") &nbsp; <br>

    span(style="color:#8F8F8F;") Комментарий:
    | Текст тестовый, комментарий выводится, если было заполнено комментарий поле при оформлении заказа

    div(style="font-size:24px;line-height:1;") &nbsp; <br>

    strong Информация о заказе:
    div(style="font-size:10px;line-height:1;") &nbsp; <br>

    span(style="color:#8F8F8F;") Способ доставки:
    | Курьером
    div(style="font-size:10px;line-height:1;") &nbsp; <br>

    span(style="color:#8F8F8F;") Срок доставки:
    | 1-2 рабочих дня
    div(style="font-size:10px;line-height:1;") &nbsp; <br>

    span(style="color:#8F8F8F;") Оплата заказа:
    | Онлайн-оплата на сайте
    div(style="font-size:10px;line-height:1;") &nbsp; <br>

    span(style="color:#8F8F8F;") Статус оплаты:
    | Оплачен

    div(style="font-size:24px;line-height:1;border-bottom:1px solid #D9D9D9;") &nbsp; <br>
    div(style="font-size:24px;line-height:1;") &nbsp; <br>

    strong Ваш заказ:
    div(style="font-size:16px;line-height:1;") &nbsp; <br>
    | ***Товары***



