extends ./_layout-mail

block content

    div(style="font-size:32px;line-height:normal;")
        strong Регистрация пользователя
    br
    | Благодарим вас за регистрацию на сайте
    a(href="https://racessport.ru/" style="color:#000000;") racessport.ru

    div(style="font-size:24px;line-height:1;border-bottom:1px solid #D9D9D9;") &nbsp; <br>
    div(style="font-size:24px;line-height:1;") &nbsp; <br>

    strong Ваши данные для входа:
    div(style="font-size:10px;line-height:1;") &nbsp; <br>

    span(style="color:#8F8F8F;") Логин:
    | mailexample@mail.ru
    div(style="font-size:10px;line-height:1;") &nbsp; <br>

    span(style="color:#8F8F8F;") Пароль:
    | dfkjf270
    div(style="font-size:10px;line-height:1;") &nbsp; <br>

    div(style="font-size:24px;line-height:1;border-bottom:1px solid #D9D9D9;") &nbsp; <br>
    div(style="font-size:24px;line-height:1;") &nbsp; <br>

    | Ваш пароль надежно сохранен в нашей базе данных. Если вы все же забудете свой пароль, то вы всегда сможете <a href="#" style="color:#000000;">восстановить</a> его, используя для этого адрес электронной почты, связанный с учетной записью.


