extends ./_layout-mail

block content

    div(style="font-size:32px;line-height:normal;")
        strong Изменение заказа
    br
    | Статус заказа <strong>№ 4645757-90</strong> от 24.07.2023 изменен.
    div(style="font-size:10px;line-height:1;") &nbsp; <br>

    div(style="font-size:24px;line-height:1;border-bottom:1px solid #D9D9D9;") &nbsp; <br>
    div(style="font-size:24px;line-height:1;") &nbsp; <br>

    strong Информация о заказе:
    div(style="font-size:10px;line-height:1;") &nbsp; <br>

    span(style="color:#8F8F8F;") Статус заказа:
    | Отменен

    div(style="font-size:24px;line-height:1;border-bottom:1px solid #D9D9D9;") &nbsp; <br>
    div(style="font-size:24px;line-height:1;") &nbsp; <br>

    | Ваш заказ был отменен, мы сожалеем об этом. Чтобы узнать причину отмены, посетите страницу заказа.
    div(style="font-size:10px;line-height:1;") &nbsp; <br>
    a(href="#" style="background:#356A41;color:#ffffff;text-decoration:none;padding: 10px 40px;display:inline-block;") Мои заказы


