extends ./_layout
include ./mixins/list/slider-main
include ./mixins/list/category-popular
include ./mixins/list/catalog-list

block content

    div(class="wrapper__page article__top")

        -
            const sliderMain = [
                {
                    name: 'Новые женские осенние коллекции',
                    url: 'main.html',
                    picture: {
                        big: 'images/content/main-slider-1-desktop.jpg',
                        small: 'images/content/main-slider-1-mobile.jpg'
                    },
                    logo: {
                        src: 'images/content/slider-logo-1.png',
                        width: 288,
                        height: 91
                    }
                },
                {
                    name: 'Лучшие седла от итальянских мастеров',
                    url: 'main.html',
                    picture: {
                        big: 'images/content/main-slider-2-desktop.jpg',
                        small: 'images/content/main-slider-2-mobile.jpg'
                    },
                },
            ];
        +slider-main(sliderMain)

        h2 Популярные категории

        -
            const categoryPopular = [
                {
                    name: 'Для женщин',
                },
                {
                    name: 'Для мужчин',
                },
                {
                    name: 'Обувь',
                },
                {
                    name: 'Попоны и капоры',
                },
                {
                    name: 'Защита для ног',
                },
                {
                    name: 'Гели и амортизаторы',
                },
                {
                    name: 'Корма и подкормки',
                },
                {
                    name: 'Аптечка',
                },
                {
                    name: 'Для дома',
                },
                {
                    name: 'Дополнительная рубрика',
                },
                {
                    name: 'Текст тестовый',
                },
                {
                    name: 'Название',
                },
                {
                    name: 'Попоны и капоры',
                },
                {
                    name: 'Защита для ног',
                },
                {
                    name: 'Гели и амортизаторы',
                },
                {
                    name: 'Корма и подкормки',
                },
                {
                    name: 'Аптечка',
                },
            ];
        +category-popular(categoryPopular)

        h2 Новинки
        -
            const categoryNew = [
                {
                    name: 'Сапоги зимние Narvik, Euroriding Германия',
                    price: '53 678 ₽',
                    price_old: '67 680 ₽',
                    sizes: ['36','37','38','39','40','41','42','43','44','45','46','47'],
                    labels: [
                        {
                            name: 'New',
                            color: 'gray',
                        },
                        {
                            name: 'Top',
                            color: 'black',
                        },
                        {
                            name: '-15%',
                            color: 'red',
                        }
                    ],
                    colors: [
                        {
                            hex: '#1A1A1A',
                            photos: [
                                'images/content/product-color-1-1.jpg',
                                'images/content/product-color-1-2.jpg',
                            ]
                        },
                        {
                            hex: '#805137',
                            photos: [
                                'images/content/product-color-1-1.jpg',
                                'images/content/product-color-1-2.jpg',
                            ]
                        },
                        {
                            hex: '#E0C785',
                            photos: [
                                'images/content/product-color-1-1.jpg',
                                'images/content/product-color-1-2.jpg',
                            ]
                        },
                        {
                            hex: '#BA2121',
                            photos: [
                                'images/content/product-color-1-1.jpg',
                                'images/content/product-color-1-2.jpg',
                            ]
                        },
                        {
                            hex: '#FFFFFF',
                            photos: [
                                'images/content/product-color-1-1.jpg',
                                'images/content/product-color-1-2.jpg',
                            ]
                        },
                        {
                            hex: '#374772',
                            photos: [
                                'images/content/product-color-1-1.jpg',
                                'images/content/product-color-1-2.jpg',
                            ]
                        }
                    ]
                },
                {
                    name: 'Сапоги зимние Narvik, Euroriding Германия Сапоги зимние Narvik, Euroriding Германия',
                    price: '53 678 ₽',
                    price_old: '67 680 ₽',
                    sizes: [],
                    labels: [
                        {
                            name: 'New',
                            color: 'gray',
                        },
                        {
                            name: 'Top',
                            color: 'black',
                        },
                        {
                            name: '-15%',
                            color: 'red',
                        }
                    ],
                    colors: [
                        {
                            hex: '#1A1A1A',
                            photos: [
                                'images/content/product-color-1-1.jpg',
                                'images/content/product-color-1-2.jpg',
                                'images/content/product-color-1-1.jpg',
                                'images/content/product-color-1-2.jpg',
                            ]
                        },
                        {
                            hex: '#805137',
                            photos: [
                                'images/content/product-color-1-1.jpg',
                                'images/content/product-color-1-2.jpg',
                            ]
                        },
                        {
                            hex: '#E0C785',
                            photos: [
                                'images/content/product-color-1-1.jpg',
                                'images/content/product-color-1-2.jpg',
                            ]
                        }
                    ]
                },
                {
                    name: 'Сапоги зимние Narvik, Euroriding Германия',
                    price: '53 678 ₽',
                    price_old: '67 680 ₽',
                    sizes: ['36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47'],
                    labels: [
                        {
                            name: 'New',
                            color: 'gray',
                        },
                        {
                            name: 'Top',
                            color: 'black',
                        },
                        {
                            name: '-15%',
                            color: 'red',
                        }
                    ],
                    colors: [
                        {
                            hex: '#1A1A1A',
                            photos: [
                                'images/content/product-color-1-1.jpg',
                                'images/content/product-color-1-2.jpg',
                            ]
                        },
                        {
                            hex: '#805137',
                            photos: [
                                'images/content/product-color-1-1.jpg',
                                'images/content/product-color-1-2.jpg',
                            ]
                        },
                        {
                            hex: '#E0C785',
                            photos: [
                                'images/content/product-color-1-1.jpg',
                                'images/content/product-color-1-2.jpg',
                            ]
                        },
                        {
                            hex: '#BA2121',
                            photos: [
                                'images/content/product-color-1-1.jpg',
                                'images/content/product-color-1-2.jpg',
                            ]
                        },
                        {
                            hex: '#FFFFFF',
                            photos: [
                                'images/content/product-color-1-1.jpg',
                                'images/content/product-color-1-2.jpg',
                            ]
                        },
                        {
                            hex: '#374772',
                            photos: [
                                'images/content/product-color-1-1.jpg',
                                'images/content/product-color-1-2.jpg',
                            ]
                        }
                    ]
                },
                {
                    name: 'Сапоги зимние Narvik, Euroriding Германия Сапоги зимние Narvik, Euroriding Германия',
                    price: '53 678 ₽',
                    price_old: '67 680 ₽',
                    sizes: [],
                    labels: [
                        {
                            name: 'New',
                            color: 'gray',
                        },
                        {
                            name: 'Top',
                            color: 'black',
                        },
                        {
                            name: '-15%',
                            color: 'red',
                        }
                    ],
                    colors: [
                        {
                            hex: '#1A1A1A',
                            photos: [
                                'images/content/product-color-1-1.jpg',
                                'images/content/product-color-1-2.jpg',
                                'images/content/product-color-1-1.jpg',
                                'images/content/product-color-1-2.jpg',
                            ]
                        },
                        {
                            hex: '#805137',
                            photos: [
                                'images/content/product-color-1-1.jpg',
                                'images/content/product-color-1-2.jpg',
                            ]
                        },
                        {
                            hex: '#E0C785',
                            photos: [
                                'images/content/product-color-1-1.jpg',
                                'images/content/product-color-1-2.jpg',
                            ]
                        }
                    ]
                },
                {
                    name: 'Сапоги зимние Narvik, Euroriding Германия',
                    price: '53 678 ₽',
                    price_old: '67 680 ₽',
                    sizes: ['36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47'],
                    labels: [
                        {
                            name: 'New',
                            color: 'gray',
                        },
                        {
                            name: 'Top',
                            color: 'black',
                        },
                        {
                            name: '-15%',
                            color: 'red',
                        }
                    ],
                    colors: [
                        {
                            hex: '#1A1A1A',
                            photos: [
                                'images/content/product-color-1-1.jpg',
                                'images/content/product-color-1-2.jpg',
                            ]
                        },
                        {
                            hex: '#805137',
                            photos: [
                                'images/content/product-color-1-1.jpg',
                                'images/content/product-color-1-2.jpg',
                            ]
                        },
                        {
                            hex: '#E0C785',
                            photos: [
                                'images/content/product-color-1-1.jpg',
                                'images/content/product-color-1-2.jpg',
                            ]
                        },
                        {
                            hex: '#BA2121',
                            photos: [
                                'images/content/product-color-1-1.jpg',
                                'images/content/product-color-1-2.jpg',
                            ]
                        },
                        {
                            hex: '#FFFFFF',
                            photos: [
                                'images/content/product-color-1-1.jpg',
                                'images/content/product-color-1-2.jpg',
                            ]
                        },
                        {
                            hex: '#374772',
                            photos: [
                                'images/content/product-color-1-1.jpg',
                                'images/content/product-color-1-2.jpg',
                            ]
                        }
                    ]
                },
                {
                    name: 'Сапоги зимние Narvik, Euroriding Германия Сапоги зимние Narvik, Euroriding Германия',
                    price: '53 678 ₽',
                    price_old: '67 680 ₽',
                    sizes: [],
                    labels: [
                        {
                            name: 'New',
                            color: 'gray',
                        },
                        {
                            name: 'Top',
                            color: 'black',
                        },
                        {
                            name: '-15%',
                            color: 'red',
                        }
                    ],
                    colors: [
                        {
                            hex: '#1A1A1A',
                            photos: [
                                'images/content/product-color-1-1.jpg',
                                'images/content/product-color-1-2.jpg',
                                'images/content/product-color-1-1.jpg',
                                'images/content/product-color-1-2.jpg',
                            ]
                        },
                        {
                            hex: '#805137',
                            photos: [
                                'images/content/product-color-1-1.jpg',
                                'images/content/product-color-1-2.jpg',
                            ]
                        },
                        {
                            hex: '#E0C785',
                            photos: [
                                'images/content/product-color-1-1.jpg',
                                'images/content/product-color-1-2.jpg',
                            ]
                        }
                    ]
                },
                {
                    name: 'Сапоги зимние Narvik, Euroriding Германия',
                    price: '53 678 ₽',
                    price_old: '67 680 ₽',
                    sizes: ['36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47'],
                    labels: [
                        {
                            name: 'New',
                            color: 'gray',
                        },
                        {
                            name: 'Top',
                            color: 'black',
                        },
                        {
                            name: '-15%',
                            color: 'red',
                        }
                    ],
                    colors: [
                        {
                            hex: '#1A1A1A',
                            photos: [
                                'images/content/product-color-1-1.jpg',
                                'images/content/product-color-1-2.jpg',
                            ]
                        },
                        {
                            hex: '#805137',
                            photos: [
                                'images/content/product-color-1-1.jpg',
                                'images/content/product-color-1-2.jpg',
                            ]
                        },
                        {
                            hex: '#E0C785',
                            photos: [
                                'images/content/product-color-1-1.jpg',
                                'images/content/product-color-1-2.jpg',
                            ]
                        },
                        {
                            hex: '#BA2121',
                            photos: [
                                'images/content/product-color-1-1.jpg',
                                'images/content/product-color-1-2.jpg',
                            ]
                        },
                        {
                            hex: '#FFFFFF',
                            photos: [
                                'images/content/product-color-1-1.jpg',
                                'images/content/product-color-1-2.jpg',
                            ]
                        },
                        {
                            hex: '#374772',
                            photos: [
                                'images/content/product-color-1-1.jpg',
                                'images/content/product-color-1-2.jpg',
                            ]
                        }
                    ]
                },
                {
                    name: 'Сапоги зимние Narvik, Euroriding Германия Сапоги зимние Narvik, Euroriding Германия',
                    price: '53 678 ₽',
                    price_old: '67 680 ₽',
                    sizes: [],
                    labels: [
                        {
                            name: 'New',
                            color: 'gray',
                        },
                        {
                            name: 'Top',
                            color: 'black',
                        },
                        {
                            name: '-15%',
                            color: 'red',
                        }
                    ],
                    colors: [
                        {
                            hex: '#1A1A1A',
                            photos: [
                                'images/content/product-color-1-1.jpg',
                                'images/content/product-color-1-2.jpg',
                                'images/content/product-color-1-1.jpg',
                                'images/content/product-color-1-2.jpg',
                            ]
                        },
                        {
                            hex: '#805137',
                            photos: [
                                'images/content/product-color-1-1.jpg',
                                'images/content/product-color-1-2.jpg',
                            ]
                        },
                        {
                            hex: '#E0C785',
                            photos: [
                                'images/content/product-color-1-1.jpg',
                                'images/content/product-color-1-2.jpg',
                            ]
                        }
                    ]
                },
            ];
        +catalog-list(categoryNew)




