extends ./_layout
include ./mixins/list/slider-main

block content

    div(class="wrapper__page article__top")

        -
            const sliderMain = [
                {
                    name: 'Новые женские осенние коллекции',
                    url: 'main.html',
                    picture: {
                        big: 'images/content/main-slider-1-desktop.jpg',
                        small: 'images/content/main-slider-1-mobile.jpg'
                    },
                    logo: {
                        src: 'images/content/slider-logo-1.png',
                        width: 288,
                        height: 91
                    }
                },
                {
                    name: 'Лучшие седла от итальянских мастеров',
                    url: 'main.html',
                    picture: {
                        big: 'images/content/main-slider-2-desktop.jpg',
                        small: 'images/content/main-slider-2-mobile.jpg'
                    },
                },
            ];
        +slider-main(sliderMain)

        h2 Популярные категории

        -
            const category = [
                {
                    name: 'Новые женские осенние коллекции',
                    url: 'main.html',
                    picture: {
                        big: 'images/content/main-slider-1-desktop.jpg',
                        small: 'images/content/main-slider-1-mobile.jpg'
                    },
                    logo: {
                        src: 'images/content/slider-logo-1.png',
                        width: 288,
                        height: 91
                    }
                },
                {
                    name: 'Лучшие седла от итальянских мастеров',
                    url: 'main.html',
                    picture: {
                        big: 'images/content/main-slider-2-desktop.jpg',
                        small: 'images/content/main-slider-2-mobile.jpg'
                    },
                },
            ];




