extends ./_layout


block content

    div(class="wrapper__page article__top")

        div(class="main-slider wrapper__wide swiper js-slider-main")
            div(class="swiper-wrapper")
                div(class="swiper-slide main-slider__item")
                    div(class="main-slider__bg" data-swiper-parallax="400")
                        picture(class="main-slider__bg")
                            // ресайз 1024*730
                            source(srcset="images/content/main-slider-1-mobile.jpg" media="(max-width: 1023px)")
                            // ресайз 1680*680
                            img(src="images/content/main-slider-1-desktop.jpg" alt="")
                div(class="swiper-slide main-slider__item" )
                    div(class="main-slider__bg" data-swiper-parallax="400")
                        picture
                            // ресайз 1024*730
                            source(srcset="images/content/main-slider-1-mobile.jpg" media="(max-width: 1023px)")
                            // ресайз 1680*680
                            img(src="images/content/main-slider-1-desktop.jpg" alt="")
            div(class="swiper-nav wrapper__page")
                div(class="swiper-pagination")
                div(class="swiper-button-prev")
                    +icon-sym('arr-slider')
                div(class="swiper-button-next")
                    +icon-sym('arr-slider')


