extends ./_layout
include ./mixins/list/slider-main
include ./mixins/list/partners
include ./mixins/list/videos

block content

    div(class="wrapper__page article__top")

        -
            const sliderMain = [
                {
                    name: 'Новые женские осенние коллекции',
                    url: 'catalog-category.html',
                    picture: {
                        big: 'images/content/main-slider-1-desktop.jpg',
                        small: 'images/content/main-slider-1-mobile.jpg'
                    },
                    logo: {
                        src: 'images/content/slider-logo-1.png',
                        width: 288,
                        height: 91
                    }
                },
                {
                    name: 'Лучшие седла от итальянских мастеров',
                    url: 'catalog-category.html',
                    picture: {
                        big: 'images/content/main-slider-2-desktop.jpg',
                        small: 'images/content/main-slider-2-mobile.jpg'
                    },
                },
            ];
        +slider-main(sliderMain)

        h2 Популярные категории

        section(class="mb-xl")
            include ./blocks/catalog-category-top

        h2 Новинки
        include ./blocks/catalog-list


        -
            const partners = [
                {
                    img: 'images/content/partner-1.png',
                },
                {
                    img: 'images/content/partner-2.png',
                },
                {
                    img: 'images/content/partner-3.png',
                },
                {
                    img: 'images/content/partner-4.png',
                },
                {
                    img: 'images/content/partner-5.png',
                },
                {
                    img: 'images/content/partner-6.png',
                },
                {
                    img: 'images/content/partner-7.png',
                },
                {
                    img: 'images/content/partner-8.png',
                },
                {
                    img: 'images/content/partner-1.png',
                },
                {
                    img: 'images/content/partner-2.png',
                },
                {
                    img: 'images/content/partner-3.png',
                },
                {
                    img: 'images/content/partner-4.png',
                },
                {
                    img: 'images/content/partner-5.png',
                },
                {
                    img: 'images/content/partner-6.png',
                },
                {
                    img: 'images/content/partner-7.png',
                },
                {
                    img: 'images/content/partner-8.png',
                },
            ];
        +partners-list(partners)

        h2 Популярное
        include ./blocks/catalog-list


        -
            const videos = [
                {
                    name: 'Технология спорта — это крупнейшая сеть магазинов для конного спорта в России.',
                    img: 'images/content/video-1.jpg',
                    img_full: 'images/content/video-1-full.jpg',
                    id: '2jx21AN8OLA',
                },
                {
                    name: 'Как правильно ухаживать за седлом?',
                    img: 'images/content/video-2.jpg',
                    id: 'ab3ooWGqd0Y',
                },
                {
                    name: 'Давит ли седло на лошадь?',
                    img: 'images/content/video-3.jpg',
                    id: 'G5fqTm9ECxo',
                },
                {
                    name: 'Про Амортизаторы',
                    img: 'images/content/video-4.jpg',
                    id: '-Bmtf69aJjQ',
                },
                {
                    name: 'Всё о сёдлах: широко или узко',
                    img: 'images/content/video-5.jpg',
                    id: 'd9cTDEY2L7U',
                },
                {
                    name: 'Всё о сёдлах: ленчик',
                    img: 'images/content/video-6.jpg',
                    id: 'HL3X9k8rE_c',
                },
            ];
        +videos-list(videos)


        h2 Скидки
        include ./blocks/catalog-list

        section(class="wrapper__wide main-about")
            div(class="main-about__item main-about__item--photo" data-src-bg="images/content/main-about.jpg")
            div(class="main-about__item main-about__item--discount" data-src-bg="images/content/main-about.jpg")
                div(class="main-about__item__bg mobile-show" data-src-bg="images/content/main-about-mobile.jpg")
                div(class="main-about__discount")
                    | До <strong>15%</strong> скидка<br> в категории для детей
                    div(class="main-about__discount__btn")
                        a(href="catalog-category.html" class="btn btn--big btn--green-border btn--mob-100") Узнать больше
            div(class="main-about__item main-about__item--text")
                h3 «Технология спорта» — это крупнейшая сеть магазинов для конного спорта в России
                p Наш ассортимент включает всё, что нужно спортсмену и владельцу лошади, от самых простых ежедневных мелочей до профессионального, высокотехнологичного, элитного снаряжения и экипировки. Мы предлагаем полный спектр услуг по подбору и обслуживанию седел, купленных в нашем магазине, заказ любых товаров по желанию наших взыскательных клиентов и стараемся предоставлять максимальный уровень сервиса.
            div(class="main-about__item article__bottom")
                ul(class="main-benefits")
                    li(class="main-benefits__item")
                        div(class="main-benefits__img")
                            img(data-src="images/content/b-1.svg" class="main-benefits__ico" alt="")
                        | Доставка по всей России
                    li(class="main-benefits__item")
                        div(class="main-benefits__img")
                            img(data-src="images/content/b-2.svg" class="main-benefits__ico" alt="")
                        | Возможность примерки при доставке
                    li(class="main-benefits__item")
                        div(class="main-benefits__img")
                            img(data-src="images/content/b-3.svg" class="main-benefits__ico" alt="")
                        | Удобные способы оплаты
                    li(class="main-benefits__item")
                        div(class="main-benefits__img")
                            img(data-src="images/content/b-4.svg" class="main-benefits__ico" alt="")
                        | Консультация профессионала онлайн



