extends ./_layout
include ./mixins/list/breads
include ./mixins/list/videos-list
include ./mixins/list/category-popular

block vars
    -
        page = 'media'

block content

    div(class="wrapper__page article__top")

        -
            const breads = [
                {
                    name: 'Главная',
                    url: 'main.html',
                },
                {
                    name: 'Медиа',
                    url: '',
                },
            ];
        +breads-list(breads)

        h1 Медиа

        -
            const menuMedia = [
                {
                    name: 'Видео',
                    link: 'media.html',
                    active: true,
                },
                {
                    name: 'Статьи',
                    link: 'articles.html'
                },
            ];
        section(class="mb-m")
            +category-popular(menuMedia)


        -
            const videos = [
                {
                    name: 'Технология спорта — это крупнейшая сеть магазинов для конного спорта в России.',
                    img: 'images/content/video-1.jpg',
                    img_full: 'images/content/video-1-full.jpg',
                    id: '2jx21AN8OLA',
                },
                {
                    name: 'Как правильно ухаживать за седлом?',
                    img: 'images/content/video-2.jpg',
                    id: 'ab3ooWGqd0Y',
                },
                {
                    name: 'Давит ли седло на лошадь?',
                    img: 'images/content/video-3.jpg',
                    id: 'G5fqTm9ECxo',
                },
                {
                    name: 'Про Амортизаторы',
                    img: 'images/content/video-4.jpg',
                    id: '-Bmtf69aJjQ',
                },
                {
                    name: 'Всё о сёдлах: широко или узко',
                    img: 'images/content/video-5.jpg',
                    id: 'd9cTDEY2L7U',
                },
                {
                    name: 'Всё о сёдлах: ленчик',
                    img: 'images/content/video-6.jpg',
                    id: 'HL3X9k8rE_c',
                },
                {
                    name: 'Технология спорта — это крупнейшая сеть магазинов для конного спорта в России.',
                    img: 'images/content/video-1.jpg',
                    img_full: 'images/content/video-1-full.jpg',
                    id: '2jx21AN8OLA',
                },
                {
                    name: 'Как правильно ухаживать за седлом?',
                    img: 'images/content/video-2.jpg',
                    id: 'ab3ooWGqd0Y',
                },
                {
                    name: 'Давит ли седло на лошадь?',
                    img: 'images/content/video-3.jpg',
                    id: 'G5fqTm9ECxo',
                },
                {
                    name: 'Про Амортизаторы',
                    img: 'images/content/video-4.jpg',
                    id: '-Bmtf69aJjQ',
                },
                {
                    name: 'Всё о сёдлах: широко или узко',
                    img: 'images/content/video-5.jpg',
                    id: 'd9cTDEY2L7U',
                },
                {
                    name: 'Всё о сёдлах: ленчик',
                    img: 'images/content/video-6.jpg',
                    id: 'HL3X9k8rE_c',
                },
            ];
        +videos-list-full(videos)

        include ./blocks/pages
