extends ./_layout
include ./mixins/list/breads

block content

    div(class="wrapper__page article__top")

        -
            const breads = [
                {
                    name: 'Главная',
                    url: 'main.html',
                },
                {
                    name: 'Корзина',
                    url: 'basket.html',
                },
                {
                    name: 'Оформление заказа',
                    url: ''
                },
            ];
        +breads-list(breads)

        -
            var orderAuth = true
        include ./blocks/order
