extends ./_layout
include ./mixins/list/breads


block vars
    -
        page = 'payment-and-delivery'

block content

    div(class="wrapper__page article__top")

        -
            const breads = [
                {
                    name: 'Главная',
                    url: 'main.html',
                },
                {
                    name: 'Оплата и доставка',
                    url: '',
                },
            ];
        +breads-list(breads)

        div(class="text-col text-content mb-m")

            h1 Оплата и доставка
            h2 Условия оплаты
            p Наш интернет-магазин предлагает несколько вариантов оплаты:
            ul
                li оплата наличными (курьеру или при самовывозе из магазина);
                li безналичный расчёт;
                li оплата от юридического лица.
            h4 Оплата наличными
            p При выборе варианта оплаты наличными, вы дожидаетесь приезда курьера и передаёте ему сумму за товар в рублях. Курьер предоставляет товар, который можно осмотреть на предмет повреждений, соответствие указанным условиям. Покупатель подписывает товаросопроводительные документы, вносит денежные средства и получает чек.
            h4 Безналичный расчёт (картой или электронными деньгами)
            p При оформлении заказа в корзине вы можете выбрать вариант безналичной оплаты.
            ol
                li Дождитесь звонка менеджера интернет-магазина, который подтвердит ваш заказ и согласует сроки доставки.
                li Получите счет на заказанный товар по электронной почте. Распечатайте его, и оплатите в течение трёх рабочих дней в любом отделении Сбербанка РФ или другого банка.
                li На указанную при заказе электронную почту, придёт номер транспортной накладной.
            p Товар будет отправлен на ваш адрес/передан в транспортную компанию в течение 3 рабочих дней после поступления оплаты на счёт интернет - магазина.
            p На ваш электронный адрес будет отправлено письмо об отгрузке с указанием номера транспортной накладной (для возможности самостоятельно отследить перемещение товара на сайте транспортной компании).
            p Если Вы оплатили свой заказ банковским переводом от своего имени и со своего личного счета, то при получении товара вам необходимо при себе иметь документ, удостоверяющий личность. Бонусы при оплате по счету не начисляются.
            h4 Оплата от юридического лица
            ul
                li Выберите соответствующую форму оплаты при оформлении заказа
                li
                    strong Пришлите карточку предприятия на электронную почту
                        a(href="mailto:zakaz@racessport.ru") zakaz@racessport.ru
                        | в теме письма укажите номер заказа в интернет-магазине
                li Оплатите счет в течение 3х рабочих дней.
            p При получении товара, вам необходимо будет иметь доверенность от организации-плательщика на имя получателя груза, оформленную в соответствии с требованием транспортной компании или доверенность по форме М-2 (при доставке курьером интернет-магазина)
            p Обращаем Ваше внимание, что при оплате от юридического лица бонусы физическим лицам не начисляются.
            h4 Реквизиты
            p
                | ООО "ПРЕСТИЖ СПОРТ"
                br
                | ИНН: 5007113147
                br
                | КПП: 500701001
                br
                | ОГРН: 1215000052915
                br
                | Банк: ПАО СБЕРБАНК
                br
                | БИК: 044525225, Корр. счет: 30101810400000000225
                br
                | Расчетный счет: 40702 810 0380 0002 0884

            hr
            h2 Условия доставки
            p Наш интернет-магазин предлагает несколько вариантов доставки:
            ul
                li курьерская;
                li самовывоз из магазина;
                li транспортная компания.
            h4 Курьерская доставка
            p Осуществляется по Москве и МО в будни!
            p Перед покупкой возможна примерка, которая ограничена по времени 15 мин!
            ul
                li Стоимость доставки в пределах МКАД составляет 400 ₽
                li Стоимость доставки за пределы МКАД до 5 км составляет 500 ₽
                li Доставка за пределы МКАД свыше 5 км составляет 500 ₽ + 25 ₽ за каждый км свыше!
            p Стоимость доставки оплачивается вне зависимости от суммы покупки. В случае отказа Покупателя принять заказ (не подошёл цвет, размер, фасон и т.п) оплачивается полная стоимость доставки!
            h4 Самовывоз из магазина
            p Вы можете забрать товар в любом из магазинов «Технология Спорта». Когда заказ будет готов к выдаче, вам придёт уведомление.
            p При самовывозе скидка сайта не действует
            p Заказ хранится 3 календарных дня со дня поступления в магазин
            h4 Транспортная компания
            p Отправка транспортной компанией СДЭК или Деловые Линии осуществляется за счет покупателя!
            p Стоимость доставки рассчитывается индивидуально для каждого заказа, согласно тарифам транспортной компании.
            p После передачи интернет-магазином посылки в выбранную вами транспортную компанию, за сроки доставки посылки отвечает транспортная компания.
            ul
                li Деловые линии
                    a(href="https://www.dellin.ru/" target="_blank" rel="nofollow") dellin.ru
                li СДЭК
                    a(href="http://www.cdek.ru/" target="_blank" rel="nofollow") cdek.ru
