extends ./_layout
include ./mixins/list/breads


block vars
    -
        page = 'search'

block content



    div(class="wrapper__page article__top")

        -
            const breads = [
                {
                    name: 'Главная',
                    url: 'main.html',
                },
                {
                    name: 'Результаты поиска',
                    url: ''
                },
            ];
        +breads-list(breads)

        h1 Результаты поиска

        form(action="search.html" class="form mb-m form--search js-form-validate")
            div(class="form-input-clear js-form-input-clear")
            input(type="text" class="form__input form__input--search-form form__input--big" value="Всвдуолор" placeholder="Поиск..." required)
            button(class="form__search")
                +icon-sym('search')

        div(class="catalog-empty")
            img(data-src="images/horse-empty.svg" alt="" class="catalog-empty__img")
            p Результатов по вашему<br> запросу не найдено

