extends ./_layout
include ./mixins/list/breads
include ./mixins/list/shops
include ./mixins/basic/_modal

block vars
    -
        page = 'shops'

block content

    div(class="wrapper__page article__top")

        -
            const breads = [
                {
                    name: 'Главная',
                    url: 'main.html',
                },
                {
                    name: 'Наши магазины',
                    url: '',
                },
            ];
        +breads-list(breads)

        h1 Наши магазины

        section(class="wrapper__wide main-picture" data-src-bg="images/content/shops.jpg")
        section(class="wrapper__wide")
            div(class="wrapper__page shop-gray-block")
                ul(class="shop-contact")
                    li(class="shop-contact__item")
                        div(class="shop-contact__icon")
                            +icon-sym('pin-big')
                        div(class="shop-contact__text")
                            div(class="shop-contact__caption") Центральный офис
                            | г.Москва, Балаклавский проспектдом 33, строение 14
                    li(class="shop-contact__item")
                        div(class="shop-contact__icon")
                            +icon-sym('support')
                        div(class="shop-contact__text")
                            div(class="shop-contact__caption") Справочная служба
                            a(href="tel:8 (495) 139-66-00" class="link-gray-lighter") 8 (495) 139-66-00 <br>
                            a(href="tel:8 (495) 139-66-00" class="link-gray-lighter") 8 (495) 139-66-00
                            | / 100
                    li(class="shop-contact__item")
                        div(class="shop-contact__icon")
                            +icon-sym('email')
                        div(class="shop-contact__text")
                            div(class="shop-contact__caption") E-mail
                            a(href="mailto:zakaz@racesport.ru" class="link-gray-lighter") zakaz@racesport.ru
                    li(class="shop-contact__item")
                        div(class="btn btn--green-border btn--100" data-micromodal="modal-feedback") обратный звонок


        -
            const shops = [
                {
                    city: 'Москва',
                    items: [
                        {
                            name: 'Магазин в КСК «Отрада», Красногорский р-он, пос. Отрадное',
                            worktime: '10.00 -19.00 Без выходных',
                            email: 'otrada@racesport.ru',
                            phone: [
                                '8 (495) 139-66-00 / 100',
                                '8 (963) 640-93-75',
                            ],
                            point: '55.544649169808,37.862323318618',
                        },
                        {
                            name: 'Магазин в КСК «Прадар», ул. Беговая, д.22, стр.17',
                            worktime: 'Ср - Вс: 10.00 -19.00 <br> Пн - Вт: выходные',
                            email: 'pradar@racessport.ru',
                            phone: [
                                '8 (495) 139-66-00 / 202',
                                '8 (963) 640-95-43',
                            ],
                            point: '55.794589108181,37.215735816177',
                        },
                        {
                            name: 'Магазин в КСК «Прадар», ул. Беговая, д.22, стр.17',
                            worktime: 'Ср - Вс: 10.00 -19.00 <br> Пн - Вт: выходные',
                            email: 'pradar@racessport.ru',
                            phone: [
                                '8 (495) 139-66-00 / 202',
                                '8 (963) 640-95-43',
                            ],
                            point: '55.552148891392,37.878105436462',
                        },
                        {
                            name: 'Магазин в КСК «Прадар», ул. Беговая, д.22, стр.17',
                            worktime: 'Ср - Вс: 10.00 -19.00 <br> Пн - Вт: выходные',
                            email: 'pradar@racessport.ru',
                            phone: [
                                '8 (495) 139-66-00 / 202',
                                '8 (963) 640-95-43',
                            ],
                            point: '55.412639009205,37.565226623399',
                        },
                        {
                            name: 'Магазин в КСК «Прадар», ул. Беговая, д.22, стр.17',
                            worktime: 'Ср - Вс: 10.00 -19.00 <br> Пн - Вт: выходные',
                            email: 'pradar@racessport.ru',
                            phone: [
                                '8 (495) 139-66-00 / 202',
                                '8 (963) 640-95-43',
                            ],
                            point: '55.643870274182,37.580494122994',
                        },
                        {
                            name: 'Магазин в КСК «Прадар», ул. Беговая, д.22, стр.17',
                            worktime: 'Ср - Вс: 10.00 -19.00 <br> Пн - Вт: выходные',
                            email: 'pradar@racessport.ru',
                            phone: [
                                '8 (495) 139-66-00 / 202',
                                '8 (963) 640-95-43',
                            ],
                            point: '55.77682909708,37.564606388885',
                        },
                        {
                            name: 'Магазин в КСК «Прадар», ул. Беговая, д.22, стр.17',
                            worktime: 'Ср - Вс: 10.00 -19.00 <br> Пн - Вт: выходные',
                            email: 'pradar@racessport.ru',
                            phone: [
                                '8 (495) 139-66-00 / 202',
                                '8 (963) 640-95-43',
                            ],
                            point: '55.824648319591,36.977556515807',
                        },
                        {
                            name: 'Магазин в КСК «Прадар», ул. Беговая, д.22, стр.17',
                            worktime: 'Ср - Вс: 10.00 -19.00 <br> Пн - Вт: выходные',
                            email: 'pradar@racessport.ru',
                            phone: [
                                '8 (495) 139-66-00 / 202',
                                '8 (963) 640-95-43',
                            ],
                            point: '55.875794562879,37.301210950851',
                        },
                        {
                            name: 'Магазин в КСК «Прадар», ул. Беговая, д.22, стр.17',
                            worktime: 'Ср - Вс: 10.00 -19.00 <br> Пн - Вт: выходные',
                            email: 'pradar@racessport.ru',
                            phone: [
                                '8 (495) 139-66-00 / 202',
                                '8 (963) 640-95-43',
                            ],
                            point: '56.093340370381,37.482527140394',
                        },
                    ],
                },
                {
                    city: 'Санкт-Петербург',
                    items: [
                        {
                            name: 'Магазин в КСК «Дерби», Всеволожский р-он, Энколово, ул. Шоссейная, д.19',
                            worktime: '10.00 -19.00 Без выходных',
                            email: 'otrada@racesport.ru',
                            phone: [
                                '8 (495) 139-66-00 / 100',
                                '8 (963) 640-93-75',
                            ],
                            point: '60.111001586666,30.435098515869',
                        },
                        {
                            name: 'Магазин в КСК «Вента», КСК Вента, Ленинградская область, Всеволожский р-он, д. Хирвости, Центральная ул., 62А',
                            worktime: 'Ср - Вс: 10.00 -19.00 <br> Пн - Вт: выходные',
                            email: 'pradar@racessport.ru',
                            phone: [
                                '8 (495) 139-66-00 / 202',
                                '8 (963) 640-95-43',
                            ],
                            point: '60.109076155041,30.418497577184',
                        },
                        {
                            name: 'Магазин в КСК «Приор», Ленинградская область, дер.Энколово, ул. Шоссейная, д. 1/2',
                            worktime: 'Ср - Вс: 10.00 -19.00 <br> Пн - Вт: выходные',
                            email: 'pradar@racessport.ru',
                            phone: [
                                '8 (495) 139-66-00 / 202',
                                '8 (963) 640-95-43',
                            ],
                            point: '59.948791,30.626736',
                        },
                    ],
                },
                {
                    city: 'Екатеринбург',
                    items: [
                        {
                            name: 'Магазин в КСК «Дубрава», Белоярский р-он, пос.Верхнее Дуброво, ул.Манежная, 1',
                            worktime: '10.00 -19.00 Без выходных',
                            email: 'otrada@racesport.ru',
                            phone: [
                                '8 (495) 139-66-00 / 100',
                                '8 (963) 640-93-75',
                            ],
                            point: '56.761782249317,61.065701143516',
                        },
                    ],
                },
            ];
        +shops-list(shops)
