.autoComplete_wrapper{
	position: relative;
	z-index: 5;
	ul{
		position: absolute;
		z-index: 1;
		left: 0;
		top: 100%;
		width: 100%;
		@include reset-list;
		@include text-size-16;
		background: var(--white);
		box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
		margin: 0;
		padding: 10px 0;
		li{
			padding: 10px 20px;
			cursor: pointer;
			transition: var(--trans);
			color: var(--gray-700);
			display: flex;
			align-items: center;
			gap: 20px;
			&:hover,&[aria-selected="true"]{
				color: var(--black);
				background: var(--gray-100);
			}
		}
	}
	.autoComplete-img{
		display: block;
		width: 30px;
		height: 30px;
		background: no-repeat center center;
		background-size: contain;
	}
	.autoComplete-price{
		color: var(--black);
		line-height: 120%;
		font-weight: bold;
		white-space: nowrap;
		margin-left: auto;
	}
	mark{
		background: none;
		color: inherit;
	}
	.no_result{
		padding:10px 20px;
	}
}
