.btn {
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
	@include text-size-14;
	padding: 17px 30px 20px 30px;
	color: var(--black);
	transition: var(--trans);
	cursor: pointer;
	border: 1px solid var(--black);
	text-align: center;
	overflow: hidden;
	outline: none !important;
	box-shadow: none;
	max-width: 100%;
	text-overflow: ellipsis;
	font-weight: 500;
	letter-spacing: 0.28px;
	position: relative;
	z-index: 1;
	@include maxBp($bp-768){
		padding: 13px 25px 15px 25px;
	}
	&:before{
		content: '';
		position: absolute;
		z-index: -1;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: var(--black);
		transform: skewX(45deg) scaleX(0);
		transform-origin: left bottom;
		transition: var(--trans);
	}
	&:hover {
		color: var(--white);
		border-color: var(--black);
		&:before{
			transform: skewX(45deg) scaleX(2);
		}
	}

	&:active {

	}
	&--green{
		border:none;
		background: var(--green);
		color: var(--white);
	}
	&--100 {
		width: 100%;
		text-align: center;
	}
	&[disabled],&--disabled{
		opacity: 0.5;
		pointer-events: none;
	}



	&__text{
		display: inline-block;
		overflow: hidden;
		transition: var(--trans);
		white-space: nowrap;
	}
	&--cart{
		border:none;
		background: var(--green);
		color: var(--white);
		padding:0 30px;
		height: 50px;
		min-width: 50px;
		font-weight: normal;
		@include text-size-14;
		line-height: 120%;
		display: flex;
		align-items: center;
		justify-content: center;
		&:hover{
			.icon-sym--cart-check{
				stroke: var(--black);
			}
		}
		.icon-sym--cart{
			width: 18px;
			height: 18px;
			vertical-align: middle;
			fill: var(--white);
			~.btn__text{
				margin-left: 15px;
				max-width: 64px;
				opacity: 1;
			}
		}
		.icon-sym--cart-check{
			fill: var(--white);
			stroke: var(--green);
			stroke-width: 2px;
			width: 16px;
			height: 16px;
			margin: -13px -8px 0 -8px;
			position: relative;
			z-index: 1;
			transition: var(--trans);
			opacity: 0;
			pointer-events: none;
			.catalog-list__basket.active &{
				opacity: 1;
			}
		}
		.catalog-list__item:not(:hover) &{
			padding: 0 10px;
			.icon-sym--cart{
				~.btn__text{
					max-width: 0;
					margin-left: 0;
					opacity: 0;
				}
			}
		}
		.catalog-list__item &{
			@include maxBp($bp-1280){
				padding: 0 10px;
				.icon-sym--cart{
					~.btn__text{
						max-width: 0;
						margin-left: 0;
						opacity: 0;
					}
				}
			}
		}
	}
}
