.btn {
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
	@include text-size-14;
	padding: 17px 30px 20px 30px;
	color: var(--black);
	background: transparent;
	--btn-color: var(--black);
	transition: var(--trans);
	cursor: pointer;
	border: 1px solid var(--black);
	text-align: center;
	overflow: hidden;
	outline: none !important;
	box-shadow: none;
	max-width: 100%;
	text-overflow: ellipsis;
	font-weight: 500;
	letter-spacing: 0.28px;
	position: relative;
	z-index: 1;
	@include maxBp($bp-768){
		padding: 13px 25px 15px 25px;
	}
	&:before{
		content: '';
		position: absolute;
		z-index: -1;
		left: 0;
		top: 0;
		width: 100%;
		height: 101%;
		background: var(--black);
		transform: skewX(45deg) scaleX(0);
		transform-origin: left bottom;
		transition: var(--trans);
	}
	&:hover,&.active {
		color: var(--white);
		--btn-color: var(--white);
		border-color: var(--black);
		&:before{
			transform: skewX(45deg) scaleX(2);
		}
	}
	&--green{
		border-color:var(--green);
		background: var(--green);
		color: var(--white);
		--btn-color: var(--white);
	}
	&--green-border{
		border-color: var(--green);
		color: var(--green);
		--btn-color: var(--green);
	}
	&--gray{
		border-color: var(--gray-300);
	}
	&--big{
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		letter-spacing: 1px;
		min-width: 280px;
	}
	&--small{
		padding: 8px 17px 9px 17px;
		@include maxBp($bp-768){
			padding: 8px 17px 9px 17px;
		}
	}
	&--smaller{
		padding: 13px 17px 14px 17px;
		@include maxBp($bp-768){
			padding: 8px 17px 9px 17px;
		}
	}
	&--100 {
		width: 100%;
		text-align: center;
	}
	&--mobile-100{
		@include maxBp($bp-768){
			width: 100%;
		}
	}
	&--mob-100{
		@include maxBp($bp-500){
			width: 100%;
		}
	}
	&[disabled],&--disabled{
		opacity: 0.5;
		pointer-events: none;
	}
	&__text{
		display: inline-block;
		overflow: hidden;
		transition: var(--trans);
		white-space: nowrap;
		@include maxBp($bp-1280){
			margin-top: -1px;
		}
		span{
			display: none;
			&:first-child{
				display: block;
				.catalog-list__basket.active &{
					display: none;
				}
			}
			&:last-child{
				.catalog-list__basket.active &{
					display: block;
				}
			}
		}
	}
	&--cart{
		border:none;
		background: var(--green);
		color: var(--white);
		padding:0 30px;
		height: 50px;
		min-width: 50px;
		font-weight: normal;
		@include text-size-14;
		line-height: 120%;
		display: flex;
		align-items: center;
		justify-content: center;
		@include maxBp($bp-1280){
			padding:0 10px;
		}
		@include maxBp($bp-768){
			padding:0 10px;
		}
		&:hover{
			.icon-sym--cart-check{
				stroke: var(--black);
			}
		}
		.icon-sym--cart{
			width: 18px;
			height: 18px;
			vertical-align: middle;
			fill: var(--white);
			~.btn__text{
				margin-left: 15px;
				max-width: 64px;
				opacity: 1;
			}
		}
		.icon-sym--cart-check{
			fill: var(--white);
			stroke: var(--green);
			stroke-width: 2px;
			width: 16px;
			height: 16px;
			margin: -13px -8px 0 -8px;
			position: relative;
			z-index: 1;
			transition: var(--trans);
			opacity: 0;
			pointer-events: none;
			.catalog-list__basket.active &{
				opacity: 1;
			}
		}
		.catalog-list__item:not(:hover) &{
			@include bp($bp-1280) {
				padding: 0 10px;
			}
			.icon-sym--cart{
				~.btn__text{
					@include bp($bp-1280){
						max-width: 0;
						margin-left: 0;
						opacity: 0;
					}
				}
			}
		}

	}
	&--white{
		--black:var(--white);
		&:hover{
			color: $black;
		}
	}
	&--wide{
		min-width: 320px;
		@include maxBp($bp-500){
			min-width: 0;
			width: 100%;
		}
	}
	.icon-sym--clear{
		@include icon-stroke;
		stroke-width: 1px;
		width: 10px;
		height: 10px;
		transition: var(--trans);
		vertical-align: middle;
		margin:0 15px 0 -10px;
		stroke: var(--btn-color);
		@include maxBp($bp-768){
			margin: 0 5px 0 -5px;
		}
	}
	.icon-sym--arrow{
		fill: var(--btn-color);
		width: 35px;
		height: 10px;
		transition: var(--trans);
		vertical-align: middle;
		margin:0 15px 0 -10px;
		@include maxBp($bp-768){
			margin: 0 5px 0 -5px;
		}
	}
	.icon-sym--arrow-small{
		fill: var(--btn-color);
		width: 18px;
		height: 10px;
		transition: var(--trans);
		display: block;
	}
	.icon-sym--share{
		@include icon-stroke;
		stroke: var(--btn-color);
		stroke-width: 1px;
		width: 22px;
		height: 22px;
		transition: var(--trans);
		vertical-align: middle;
		margin: 0 20px 0 -10px;
		@include maxBp($bp-768){
			margin: 0 10px 0 -5px;
		}
	}
	.icon-sym--copy{
		@include icon-stroke;
		stroke: var(--btn-color);
		stroke-width: 1.5px;
		width: 20px;
		height: 20px;
		transition: var(--trans);
		vertical-align: middle;
	}

	&--mob-small{
		@include maxBp($bp-768){
			padding: 8px 15px 10px;
		}
	}
	&--arrow{
		width: 49px;
		min-width: 49px;
		height: 49px;
		padding: 0 !important;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
