.form {
	&__line {
		position: relative;
		margin: 0 0 20px 0;
		&__wrapper{
			margin: 0 0 20px 0;
		}
		.error-message {
			z-index: 1;
		}
		&:last-child {
			margin-bottom: 0;
		}
		&--more{
			~.form__line:not(.form__line--show){
				display: none;
			}
			&.hide{
				~.form__line:not(.form__line--show){
					display: block;
					animation: fadeIn .3s var(--cubic);
				}
			}
		}
	}

	&__text{
		margin: 20px 0;
		font-size: 14px;
		line-height: 120%;
		&--links{
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			gap: 10px;
		}
	}

	&__label {
		display: block;
		@include text-size-14;
		margin-bottom: 8px;
		color: var(--gray-700);
	}

	&__input-description{
		display: block;
		font-size: 12px;
		line-height: 150%;
		color: var(--gray-700);
	}

	&__input {
		display: block;
		width: 100%;
		border: 1px solid var(--gray-600);
		background: var(--white) no-repeat;
		outline: 0;
		@include text-size-14;
		font-weight: 500;
		letter-spacing: 0.84px;
		margin: 0;
		padding: 13px 14px 13px 14px;
		transition: var(--trans);
		box-shadow: none;
		overflow: auto;
		resize: none;
		border-radius: 0;
		&:hover {
			border-color: var(--gray-800);
		}
		&:focus {
			border-color: var(--black);
		}
		&.error {
			border-color: var(--red);
			@include input-error;

			~ .form__label {
				@include text-error;
			}
		}

		@include placeholder {
			color: var(--gray-600);
		}

		&:not(.error) + .error-message {
			display: none;
		}
		&--search{
			background:var(--white) no-repeat url('../images/search.svg') 16px center;
			padding-left: 40px;
		}
		&--big{
			padding: 24px;
		}
		&--search-form{
			padding-right: 110px;
			@include maxBp($bp-768){
				padding-right: 50px;
				padding-left: 40px;
			}
			~.error-message{
				@include maxBp($bp-768){
					margin-left: 16px;
				}
			}
		}
		&[required]:not(.form__input--search-form){
			background-image: url(../images/required.svg);
			background-position: calc(100% - 10px) 50%;
			padding-right: 24px;
		}
		&--text{
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			color: var(--gray-600);
			pointer-events: none;
		}
	}
	&__submit{
		padding-top: 10px;
	}
	&--search{
		position: relative;
		z-index: 5;
		width: 100%;
	}
	&__search{
		position: absolute;
		z-index: 5;
		right: 0;
		top: 0;
		height: 100%;
		width: 70px;
		border: none;
		cursor: pointer;
		background: transparent;
		outline: none !important;
		padding: 0;
		@include maxBp($bp-768){
			right: auto;
			left: 13px;
			width: 20px;
			height: 20px;
			top: 50%;
			margin-top: -10px;
		}
		&:hover{
			.icon-sym {
				fill: var(--green);
			}
		}
		.icon-sym{
			width: 18px;
			height: 18px;
			transition: var(--trans);
			fill: var(--black);
			display: block;
			margin: 0 auto;
			@include maxBp($bp-768){
				width: 12px;
				height: 12px;
				fill: var(--gray-600);
			}
		}
	}
	&__hr{
		border-color: var(--gray-300);
		margin: var(--space-m) 0;
		&--small{
			margin: var(--space-s) 0;
		}
	}
	&__input-btn{
		display: flex;
	}
	&__input-code {
		border: none;
		outline: none;
		padding: 8px 0 8px 0;
		border-bottom: 2px solid var(--gray-600);
		font-weight: 700;
		font-size: 36px;
		line-height: normal;
		text-align: center;
		width: 100px;
		margin: 0;
		appearance: none;
		-moz-appearance: textfield;
		border-radius: 0;
		transition: var(--trans);
		background: none;

		&::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
			-webkit-appearance: none;
		}

		&.filled {

		}

		&:focus {
			border-bottom-color: var(--black);
		}

		&.error {
			border-bottom-color: var(--red);
		}

		&[disabled] {
			opacity: 0.5;
			pointer-events: none;
			background: none;
		}
	}
}

.error-message {
	display: block;
	color: var(--red);
	@include text-size-12;
	white-space: nowrap;
	order: 1;
	position: absolute;
	z-index: -1;
	pointer-events: none;
}

.input-checkbox {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 1;
	cursor: pointer;
	font-size: 18px;
	line-height: 120%;
	min-height: 28px;
	@include maxBp($bp-1024){
		font-size: 16px;
	}
	&:hover {
		.input-checkbox__text {
			color: var(--gray-800);
			&:before {
				border-color: var(--gray-800);
			}
		}
	}
	input {
		position: absolute;
		z-index: -1;
		left: 0;
		top: 0;
		opacity: 0;
		&:checked {
			~ .input-checkbox__text {
				color: var(--black);
				&:before {
					border-color: var(--black);
				}
				&:after {
					opacity: 1;
				}
			}
		}
		&[type="radio"] ~ .input-checkbox__text {
			&:before {
				border-radius: 50%;
			}

			&:after {
				@include icon-radio;
				border: none;
				margin: 0;
				left: 5px;
				top: 3px;
			}
		}
		&.error{
			~ .input-checkbox__text {
				&:before {
					border-color: var(--red);
				}
			}
		}
	}
	&__text {
		display: block;
		position: relative;
		z-index: 1;
		padding: 0 0 0 40px;
		transition: var(--trans);
		color: var(--gray-400);
		@include maxBp($bp-1024){
			padding-top: 2px;
		}
		&:before {
			content: '';
			position: absolute;
			z-index: -1;
			left: 0;
			top: -2px;
			width: 28px;
			height: 28px;
			border: 1px solid var(--gray-600);
			transition: var(--trans);
		}
		&:after {
			content: '';
			@include icon-checkbox;
			position: absolute;
			z-index: 1;
			left: 9px;
			top: 1px;
			border-color: var(--black);
			opacity: 0;
			width: 10px;
			height: 16px;
		}
		&__item{
			display: block;
			@include maxBp($bp-768){
				width: 100%;
			}
			&:first-child{
				@include bp($bp-768) {
					width: calc(45% - 90px);
				}
			}
			&:last-child{
				color: var(--black);
				@include bp($bp-768) {
					width: calc(55% - 90px);
				}
			}
			&:nth-child(2){
				@include bp($bp-768) {
					width: 120px;
				}
			}
		}
	}
	~ .error-message {
		margin-top: -3px;
		top: 100%;
	}
	&--small{
		@include text-size-12;
		color: var(--gray-700);
		min-height: 17px;
		@include maxBp($bp-1024){
			font-size: 12px;
		}
		.input-checkbox__text{
			padding-left: 28px;
			padding-top: 0;
			&:before{
				width: 17px;
				height: 17px;
				top:1px;
			}
			&:after{
				top: 2px;
				left: 6px;
				width: 6px;
				height: 10px;
			}
		}
	}
	&--cols{
		width: 100%;
		.input-checkbox__text{
			display: flex;
			gap: 30px;
			@include maxBp($bp-768){
				flex-wrap: wrap;
				gap: 10px;
			}
		}
	}
}

.form-input-clear{
	width: 24px;
	height: 24px;
	position: absolute;
	z-index: 10;
	right: 70px;
	top: 50%;
	margin-top: -12px;
	cursor: pointer;
	transition: var(--trans);
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	@include maxBp($bp-768){
		right: 15px;
	}
	&:before,&:after{
		content: '';
		position: absolute;
		z-index: 1;
		left: 50%;
		top: 50%;
		width: 2px;
		height: 100%;
		transform: translate3d(-50%,-50%,0) rotate(45deg);
		background: var(--black);
		transition: var(--trans);
	}
	&:after{
		width: 100%;
		height: 2px;
	}
	&:hover{
		&:before,&:after{
			background: var(--red);
		}
	}
	&.active{
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}
}

.form-sort{
	font-size: 16px;
	line-height: 120%;
	display: flex;
	justify-content: flex-end;
	margin-bottom: 20px;
	min-height: 24px;
	@include maxBp($bp-1280){
		justify-content: flex-start;
		align-items: center;
	}
	&__item{
		color: var(--gray-400);
		.form-select{
			margin-left: 5px;
		}
		&--filter{
			display: none;
			@include maxBp($bp-1280){
				display: block;
				margin-left: auto;
			}
		}
	}
	&__filter{
		padding: 20px;
		margin: -20px;
		.icon-sym{
			display: block;
		}
	}
}

.form-select{
	width: auto;
	display: inline-block;
	position: relative;
	color: var(--black);
	select{
		display: none;
		@include maxBp($bp-1280){
			display: block !important;
			position: absolute;
			z-index: 5;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
		}
	}
	.ss-main{
		display: flex;
		align-items: center;
		transition: var(--trans);
		color: var(--black);
		cursor: pointer;
		&:hover{
			color: var(--green);
			.ss-arrow{
				stroke: var(--green);
			}
		}
		&.ss-open-below{

		}
		.ss-placeholder{
			color: var(--gray-700);
		}
		.ss-arrow{
			fill: none;
			stroke: var(--black);
			stroke-width: 8px;
			width: 16px;
			height: 16px;
			transform: rotate(0deg);
			vertical-align: middle;
			margin: 0 0 -2px 15px;
			path{
				transition: var(--trans);
			}
		}
	}
	.ss-content{
		position: absolute;
		z-index: 5;
		left: -20px;
		top: 100%;
		height: auto;
		min-width: calc(100% + 40px);
		background: var(--white);
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
		transform: scaleY(0);
		transition: var(--trans);
		transform-origin: center top;
		opacity: 0;
		margin: 10px 0 0 0 !important;
		@include maxBp($bp-1280){
			display: none;
		}
		&.ss-open-below{
			transform: scaleY(1);
			opacity: 1;
		}
		.ss-list{
			.ss-option{
				cursor: pointer;
				transition: var(--trans);
				padding: 10px 20px;
				color: var(--gray-400);
				&.ss-selected,&:hover{
					color: var(--black);
				}
				&:first-child, &.ss-hide +.ss-option
				{
					padding-top: 20px;
				}
				&:last-child{
					padding-bottom: 20px;
				}
			}
		}

	}
	.ss-hide{
		display: none;
	}
	&--input{
		display: block;
		&:hover {
			.ss-main{
				border-color: var(--gray-800);
			}

		}
		&:focus {
			.ss-main{
				border-color: var(--black);
			}
		}
		.error-message{
			top: 100%;
		}
		select{
			&.error{
				~ .ss-main{
					border-color: var(--red);
					@include input-error;
				}
				~ .form__label {
					@include text-error;
				}
			}
			&:not(.error){
				~.error-message{
					display: none;
				}
			}
			&[required]{
				~ .ss-main{
					background-image: url(../images/required.svg);
					background-position: calc(100% - 10px) 50%;
					.ss-arrow{
						margin-right: 10px;
					}
				}
			}
		}
		.ss-main{
			width: 100%;
			border: 1px solid var(--gray-600);
			background: var(--white) no-repeat;
			outline: 0;
			@include text-size-14;
			font-weight: 500;
			letter-spacing: 0.84px;
			margin: 0;
			padding: 13px 14px 13px 14px;
			transition: var(--trans);
			box-shadow: none;
			resize: none;
			border-radius: 0;
			white-space: nowrap;
			.ss-values{
				margin-right: auto;
				overflow: hidden;
				width: 100%;
				text-overflow: ellipsis;
				.ss-single{
					display: inline;
				}
			}
		}
		.ss-content{
			left: 0;
			min-width: 100%;
			width: 100%;
		}
	}
}

.form-btns{
	display: flex;
	gap:20px;
	@include maxBp($bp-768){
		flex-wrap: wrap;
		gap: 10px;
	}
	.btn{
		flex: auto;
	}
}

.form-col{
	max-width: 430px;
	@include maxBp($bp-500){
		max-width: none;
	}
}

.form-share-btn {
	display: flex;
	margin-bottom: var(--space-xs);
	margin-left: -12px;
	.likely__widget {
		flex: auto;
		margin: 0 0 0 12px;
		@extend .btn;
		@extend .btn--green-border;
		padding: 0;
		&_vkontakte{
			&:before{
				background: #4680c2 !important;
			}
			&:hover{
				border-color: #4680c2 !important;
			}
		}
		&_odnoklassniki{
			&:before{
				background: #eb7d01 !important;
			}
			&:hover{
				border-color: #eb7d01 !important;
			}
		}
	}
	svg {
		display: block;
		width: 20px;
		height: 20px;
		fill: var(--btn-color);
		margin: 0 auto;
		transition: var(--trans);
	}
	.likely__button, .likely__counter {
		display: none;
	}
}

.form-share-link {
	display: flex;
	.btn {
		min-width: 48px;
		margin-left: 12px;
	}
}


.file-input{
	position: relative;
	input{
		opacity: 0;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		cursor: pointer;
		&:hover~.file-input__btn{
			border-color: var(--gray-800);
		}
		&:focus~.file-input__btn{
			border-color: var(--black);
		}
		&.error~.file-input__btn{
			border-color: var(--red);
		}
		&[required]{
			~.file-input__btn{
				background-image: url(../images/required.svg);
				background-position: calc(100% - 10px) 50%;
				&:after{
					margin-right: 10px;
				}
			}
		}
	}
	&__btn{
		display: flex;
		align-items: center;
		width: 100%;
		background: var(--white) no-repeat;
		border:1px solid var(--gray-600);
		transition: var(--trans);
		outline: none;
		color: var(--gray-700);
		padding: 13px 14px;
		height: 49px;
		font-size: var(--text-size-14);
		line-height: 150%;
		letter-spacing: .84px;
		font-weight: 500;
		-webkit-appearance:none;
		&:after{
			content: '';
			display: block;
			width: 20px;
			height: 20px;
			min-width: 20px;
			background: url(../images/file.svg) no-repeat 0 0;
			background-size: contain;
			margin: -10px 0 -10px 10px;
		}
	}
	&__text{
		display: block;
		width: 100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	&__description{
		opacity: 0.5;
		pointer-events: none;
		@include maxBp($bp-768){
			display: block;
			font-size: 8px;
			padding-top: 3px;
			letter-spacing: 1px;
		}
	}
	&__del{
		position: relative;
		z-index: 1;
		display: none;
		cursor: pointer;
		width: 20px;
		height: 20px;
		color: transparent;
		margin-left: 10px;
		&:before,&:after{
			content: '';
			position: absolute;
			z-index: -1;
			left: 50%;
			top: 50%;
			width: 20px;
			height: 2px;
			background: var(--black);
			margin:-1px 0 0 -10px;
			transform: rotate(45deg);
			transition: var(--trans);
		}
		&:after{
			width: 2px;
			height: 20px;
			margin: -10px 0 0 -1px;
		}
		&--show{
			display: block;
		}
		&:hover{
			&:before,&:after{
				background: var(--red);
			}
		}
	}

	&--change{
		.file-input__btn{
			color: var(--black);
		}
		.file-input__del{
			display: inline-block;
		}
	}

	.error-message{
		top: 100%;
		width: 100%;
		background: var(--white);
	}

}

.input-validate-css{
	&:invalid{
		border-color: var(--red);
		@include input-error;

		~ .form__label {
			@include text-error;
		}
	}
}
.errortext{
	color: var(--red);
}

.form-error{
	color: var(--red);
	padding-bottom: 20px;
}