.form {
	&__line {
		position: relative;
		margin: 0 0 20px 0;
		.error-message {
			z-index: 1;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}

	&__label {
		display: block;
		@include text-size-14;
		margin-bottom: 8px;
		color: var(--gray-700);
	}

	&__input {
		display: block;
		width: 100%;
		border: 1px solid var(--gray-600);
		background: var(--white) no-repeat;
		outline: 0;
		@include text-size-14;
		font-weight: 500;
		letter-spacing: 0.84px;
		text-transform: uppercase;
		margin: 0;
		padding: 13px 14px 13px 14px;
		transition: var(--trans);
		box-shadow: none;
		overflow: auto;
		resize: none;
		border-radius: 0;
		&:hover {
			border-color: var(--gray-800);
		}
		&:focus {
			border-color: var(--black);
		}
		&.error {
			border-color: var(--red);
			@include input-error;

			~ .form__label {
				@include text-error;
			}
		}

		@include placeholder {
			color: var(--gray-600);
		}

		&:not(.error) + .error-message {
			display: none;
		}
		&--search{
			background:var(--white) no-repeat url('../images/search.svg') 16px center;
			padding-left: 40px;
		}
		&--big{
			padding: 24px;
		}
		&--search-form{
			padding-right: 80px;
			@include maxBp($bp-768){
				padding-right: 50px;
				padding-left: 40px;
			}
			~.error-message{
				@include maxBp($bp-768){
					margin-left: 16px;
				}
			}
		}
	}
	&__submit{
		padding-top: 10px;
	}
	&--search{
		position: relative;
		z-index: 1;
		width: 100%;
	}
	&__search{
		position: absolute;
		z-index: 5;
		right: 0;
		top: 0;
		height: 100%;
		width: 70px;
		border: none;
		cursor: pointer;
		background: transparent;
		outline: none !important;
		padding: 0;
		@include maxBp($bp-768){
			right: auto;
			left: 13px;
			width: 20px;
			height: 20px;
			top: 50%;
			margin-top: -10px;
		}
		&:hover{
			.icon-sym {
				fill: var(--green);
			}
		}
		.icon-sym{
			width: 18px;
			height: 18px;
			transition: var(--trans);
			fill: var(--black);
			display: block;
			margin: 0 auto;
			@include maxBp($bp-768){
				width: 12px;
				height: 12px;
				fill: var(--gray-600);
			}
		}
	}
}

.error-message {
	display: block;
	color: var(--red);
	@include text-size-12;
	white-space: nowrap;
	order: 1;
	position: absolute;
	z-index: -1;
}

.input-checkbox {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 1;
	cursor: pointer;
	&:hover {
		.input-checkbox__text {
			&:before {
				border-color: var(--gray-800);
			}
		}
	}
	input {
		position: absolute;
		z-index: -1;
		left: 0;
		top: 0;
		opacity: 0;
		&:checked {
			~ .input-checkbox__text {
				&:before {
					border-color: var(--black);
				}
				&:after {
					opacity: 1;
				}
			}
		}
		&[type="radio"] ~ .input-checkbox__text {
			&:before {
				border-radius: 50%;
			}

			&:after {
				@include icon-radio;
				margin: 6px 0 0 6px;
				border-color: var(--gray-600);
			}
		}
		&.error{
			~ .input-checkbox__text {
				&:before {
					border-color: var(--red);
				}
			}
		}
	}
	&__text {
		display: block;
		position: relative;
		z-index: 1;
		padding: 0 0 0 28px;
		transition: var(--trans);
		&:before {
			content: '';
			position: absolute;
			z-index: -1;
			left: 0;
			top: 2px;
			width: 20px;
			height: 20px;
			border: 1px solid var(--gray-600);
			transition: var(--trans);
			@include maxBp($bp-1680) {
				top: 1px;
			}
		}
		&:after {
			content: '';
			@include icon-checkbox;
			position: absolute;
			z-index: 1;
			left: 0;
			top: 2px;
			margin: 2px 0 0 6px;
			border-color: var(--black);
			opacity: 0;
			@include maxBp($bp-1680) {
				top: 1px;
			}
		}
	}
	~ .error-message {
		margin-top: -3px;
		top: 100%;
	}
	&--small{
		@include text-size-12;
		color: var(--gray-700);
		.input-checkbox__text{
			&:before{
				width: 17px;
				height: 17px;
				top:1px;
			}
			&:after{
				top: 1px;
			}
		}
	}


}
