.order-cols{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	@include maxBp($bp-1280){
		display: block;
	}
	&__left{
		width: calc(100% - 340px);
		@include maxBp($bp-1280){
			width: auto;
			margin-bottom: 40px;
		}
	}
	&__right{
		width: 320px;
		position: sticky;
		top: 138px;
		@include maxBp($bp-1280){
			width: auto;
			position: static;
		}
	}
}

.order-total{
	background: var(--gray-100);
	padding: 30px;
	margin-bottom: 30px;
	@include maxBp($bp-768){
		padding: 20px;
		margin-bottom: 20px;
	}
	&__caption{
		font-size: 20px;
		font-weight: 500;
		line-height: 120%;
		@include maxBp($bp-768){
			font-size: 18px;
		}
	}
	&__hr{
		border-color: var(--gray-300);
		margin: 25px -30px;
		width: auto;
		@include maxBp($bp-768){
			margin: 20px -20px;
		}
	}
}
.order-param{
	display: flex;
	justify-content: space-between;
	gap: 20px;
	margin: 0 0 10px 0;
	&:last-child{
		margin: 0;
	}
	dt{
		color: var(--gray-600);
		font-weight: 300;
	}
	dd{
		margin: 0;
		text-align: right;
		white-space: nowrap;
	}
	&--total{
		dd{
			font-weight: bold;
			font-size: 20px;
			transform: translate3d(0,-2px,0);
		}
	}
}

.order-cols-user{
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
	@include maxBp($bp-768){
		gap:20px;
	}
	&__item{
		width: calc(50% - 20px);
		font-weight: 300;
		@include maxBp($bp-768){
			width: 100%;
		}
		&--wide{
			width: 100%;
		}
		p+h5{
			margin-top: 30px;
			@include maxBp($bp-768){
				margin-top: 20px;
			}
		}
	}
}

.order-params{
	display: flex;
	margin: 0 0 10px 0;
	@include maxBp($bp-768){
		margin-bottom: 5px;
	}
	&:last-child{
		margin-bottom: 0;
	}
	dt{
		font-weight: 300;
		width: 110px;
		color: var(--gray-600);
		padding-right: 20px;
	}
	dd{
		margin: 0;
	}
}

.order-finish-total{
	border-top:1px solid var(--gray-300);
	margin: 20px 0 0 0;
	padding: 20px 0 0 0;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	.order-param{
		width: 310px;
		@include maxBp($bp-768){
			width: 100%;
		}
	}
}
