.lk-sections{
	display: grid;
	grid-template-columns:repeat(auto-fit, minmax(140px, 1fr));
	&--logos{
		grid-template-columns:repeat(auto-fit, minmax(calc(100%/6), 1fr));
		@include maxBp($bp-1440){
			grid-template-columns:repeat(auto-fit, minmax(25%, 1fr));
		}
		@include maxBp($bp-1024){
			grid-template-columns:repeat(auto-fit, minmax(calc(100%/3), 1fr));
		}
	}
	&__item{
		flex: auto;
		aspect-ratio:1/1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 10px;
		border: 1px solid var(--black);
		color:var(--black);
		position: relative;
		z-index: 1;
		overflow: hidden;
		--btn-color: var(--black);
		margin: -1px 0 0 -1px;
		&:before{
			content: '';
			position: absolute;
			z-index: -1;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: var(--black);
			transform: skewX(45deg) scaleX(0);
			transform-origin: left bottom;
			transition: var(--trans);
		}
		&:hover,&.active {
			color: var(--white);
			--btn-color: var(--white);
			border-color: var(--black);
			&:before{
				transform: skewX(45deg) scaleX(2.5);
			}
			.lk-sections__logo{
				filter: invert(1) grayscale(1);
			}
		}
	}
	&__name{
		margin-bottom: 30px;
		font-size: 18px;
		line-height: 130%;
		letter-spacing: 0.36px;
		text-transform: uppercase;
		text-align: center;
		@include maxBp($bp-768){
			font-size: 14px;
		}
	}
	.icon-sym{
		width: 36px;
		height: 36px;
		fill: var(--btn-color);
		transition: var(--trans);
		&--lk-profile{
			width: 38px;
			height: 38px;
			margin-top: -2px;
		}
		&--lk-history{
			width: 32px;
			height: 32px;
			margin-top: 4px;
		}
	}
	&__logo{
		width: auto;
		height: auto;
		max-width: 180px;
		max-height: 180px;
		transition: var(--trans);
		@include maxBp($bp-768){
			max-width: 80px;
			max-height: 80px;
		}
		@include maxBp($bp-375){
			max-width: 60px;
			max-height: 60px;
		}
	}
}

.lk-menu{
	display: flex;
	margin: 0 0 60px 0;
	position: relative;
	z-index: 1;
	@include maxBp($bp-1280){
		margin: 0 -32px 40px -32px;
		padding: 0 12px;
	}
	@include maxBp($bp-1024){
		margin: 0 -20px 40px -20px;
		padding: 0 10px;
	}
	@include maxBp($bp-768){
		margin-bottom: 20px;
		padding: 0 13px;
	}
	&:after{
		content: '';
		position: absolute;
		z-index: -1;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 1px;
		background: var(--gray-300);
	}
	.swiper-wrapper{
		margin: 0 -30px;
		@include maxBp($bp-1280){
			margin: 0;
		}
	}
	&__item{
		margin: 0 30px;
		width: auto;
		@include maxBp($bp-1280){
			margin: 0 20px;
		}
		@include maxBp($bp-1024){
			margin: 0 10px;
		}
		@include maxBp($bp-768){
			margin: 0 7px;
		}
	}
	&__link{
		font-size: 20px;
		line-height: 120%;
		display: block;
		padding: 0 0 25px 0;
		color: var(--black);
		border: none;
		position: relative;
		z-index: 1;
		font-weight: 300;
		white-space: nowrap;
		@include maxBp($bp-768){
			font-size: 16px;
			padding: 0 0 15px 0;
		}
		&:after{
			content: '';
			position: absolute;
			z-index: -1;
			left: 0;
			right: 0;
			bottom: 0;
			height: 1px;
			background: var(--black);
			transform: scaleX(0);
			transform-origin: center bottom;
			transition: var(--trans);
		}
		&.active,&:hover{
			color: var(--black);
			&:after{
				transform: scaleX(1);
			}
		}
		&.active{
			font-weight: 500;
		}
	}
}

.lk-orders-wrapper{
	margin-top: -30px;
	@include maxBp($bp-1280){
		margin-top: -20px;
	}
}

.lk-orders{
	margin: 0;
	&__header{
		display: flex;
		align-items: center;
		font-size: 20px;
		font-weight: 300;
		line-height: normal;
		letter-spacing: 0.2px;
		padding: 30px 50px 30px 0;
		cursor: pointer;
		border-bottom: 1px solid var(--black);
		transition: var(--trans);
		position: relative;
		z-index: 1;
		@include maxBp($bp-1280){
			font-size: 16px;
			padding: 20px 50px 20px 0;
		}
		@include maxBp($bp-1024){
			flex-wrap: wrap;
		}
		@include maxBp($bp-768){
			padding-right: 40px;
		}
		&:hover{
			.lk-orders__header__item:first-child{
				color: var(--green);
			}
			.lk-orders__header__arr .icon-sym{
				stroke: var(--green);
			}
		}
		&__item{
			padding-right: 30px;
			@include maxBp($bp-500){
				padding-right: 0;
			}
			&:nth-child(1){
				transition: var(--trans);
				width: calc((100%/3) + (100px/3));
				@include maxBp($bp-1024){
					width: calc(100% - 155px);
					margin-bottom: 10px;
				}
				@include maxBp($bp-500){
					width: 100%;
				}
			}
			&:nth-child(2){
				margin-right: auto;
				@include maxBp($bp-1024){
					margin-right: 0;
				}
				@include maxBp($bp-768){
					margin-right: 0;
					width: 40%;
				}
				@include maxBp($bp-500){
					width: 100%;
				}
			}
			&:nth-child(3){
				width: calc(100%/3 - 172px);
				@include maxBp($bp-1024){
					margin-right: auto;
					width: auto;
				}
				@include maxBp($bp-768){
					width: 100px;
					padding-right: 0;
				}
				@include maxBp($bp-500){
					width: 100%;
					margin: 5px 0 0 0;
				}
			}
			&:nth-child(4){
				width: 155px;
				padding-right: 0;
				@include maxBp($bp-1280){
					width: 147px;
				}
				@include maxBp($bp-1024){
					margin-top: -40px;
				}
				@include maxBp($bp-500){
					width: 100%;
					margin: 0;
				}
				.btn{
					@include maxBp($bp-500){
						margin-top: 10px;
					}
				}
			}
		}
		&__arr{
			position: absolute;
			z-index: 1;
			right: 0;
			top: 50%;
			transform: translate3d(0,-50%,0);
			.icon-sym{
				@include icon-stroke;
				stroke-width: 1px;
				width: 30px;
				height: 30px;
				stroke:var(--gray-700);
				transition: var(--trans);
			}
		}
		small{
			display: block;
			font-size: 16px;
			font-weight: 300;
			line-height: normal;
			letter-spacing: 0.16px;
			color: var(--gray-400);
			margin-top: 8px;
			@include maxBp($bp-1280){
				font-size: 14px;
			}
		}
		&.show-toggle{
			.lk-orders__header__arr .icon-sym{
				transform: rotate(-180deg);
			}
		}
	}
	&__content{
		background: var(--gray-100);
		padding: 30px 50px;
		margin: 0;
		display: none;
		@include maxBp($bp-1280){
			padding: 20px;
		}
		@include maxBp($bp-375){
			padding: 10px;
		}
	}
}
