include ../../mixins/basic/_modal

block modal

+modal({
    id: 'message'
})
    +slot('header')
        span(id="js-modal-message-caption")
    +slot('body')
        p(id="js-modal-message-text")


+modal({
    id: 'example'
})
    +slot('header')
        | Пример модального окна
    +slot('body')
        p Сообщение модального окна?
        div(class="btn" data-micromodal-close) Закрыть
        div(class="btn") Продолжить

+modal({
    id: 'city'
})
    +slot('header')
        | Пример модального окна
    +slot('body')
        div(class="form")
            div(class="form__line")
                input(class="form__input form__input--search" placeholder="Moсква")
        p Сообщение модального окна?
        div(class="btn" data-micromodal-close) Закрыть
        div(class="btn") Продолжить

+modal({
    id: 'feedback'
})
    +slot('header')
        | Обратный звонок
    +slot('body')
        form(action="images/json/form-success.json" class="form js-form-validate js-form-action" method="post")
            div(class="form__line")
                label(class="form__label" for="feedback-input-name") Имя
                input(type="text" class="form__input" id="feedback-input-name" required)
            div(class="form__line")
                label(class="form__label" for="feedback-input-phone") Телефон
                input(type="tel" class="form__input js-input-format-phone" id="feedback-input-phone" required)
            div(class="form__line")
                label(class="input-checkbox input-checkbox--small")
                    input(type="checkbox" required)
                    span(class="input-checkbox__text") Я согласен на обработку
                        a(href="#") персональных данных
            div(class="form__submit")
                button(type="submit" class="btn btn--green btn--100") Отправить
