include ../../mixins/basic/_modal

block modal

+modal({
    id: 'message'
})
    +slot('header')
        span(id="js-modal-message-caption")
    +slot('body')
        p(id="js-modal-message-text")

+modal({
    id: 'city',
    modifier: 'small'
})
    +slot('header')
        div(class="header-city-block")
            a(class="link-city" data-micromodal-close)
                +icon-sym('arr-down')
                +icon-sym('pin')
                | Moсква
    +slot('body')
        div(class="form")
            div(class="form__line")
                input(class="form__input form__input--search js-dadata-city")
                script.
                    // Пример события выбора города в инпуте (при программинге удалить)
                    document.addEventListener('DOMContentLoaded', () => {
                        const inputs = document.querySelectorAll('.js-dadata-city');
                        inputs.forEach((input, index) => {
                            input.addEventListener('cityChange',()=>{
                                console.log('Event cityChange:', input.value);
                                //window.location.reload();
                            })
                        });
                    });

            ul(class="header-city-list")
                li
                    a(href="main.html" class="active") Москва
                li
                    a(href="main.html") Санкт-петербург
                li
                    a(href="main.html") Новосибирск
                li
                    a(href="main.html") Екатеринбург


+modal({
    id: 'feedback'
})
    +slot('header')
        | Обратный звонок
    +slot('body')
        form(action="images/json/form-success.json" class="form js-form-validate js-form-action" method="post")
            div(class="form__line")
                label(class="form__label" for="feedback-input-name") Имя
                input(type="text" class="form__input" id="feedback-input-name" required)
            div(class="form__line")
                label(class="form__label" for="feedback-input-phone") Телефон
                input(type="text" inputmode="tel" class="form__input js-input-format-phone" id="feedback-input-phone" required)
            div(class="form__line")
                label(class="input-checkbox input-checkbox--small")
                    input(type="checkbox" required checked)
                    span(class="input-checkbox__text") Я согласен на обработку
                        a(href="#") персональных данных
            div(class="form__submit")
                button(type="submit" class="btn btn--green btn--100") Отправить


+modal({
    id: 'basket',
    modifier: 'basket'
})
    +slot('header')
        div(class="cart-header")
            div(class="cart-header__text")
                div(class="cart-header__caption") Корзина
                span(class="text-gray") В корзине
                | 3 товара
            div(class="btn btn--mob-small btn--gray" data-micromodal="modal-basket-clear")
                +icon-sym('clear')
                | Очистить
    +slot('body')
        -
            var cartFull = false
            var cartOrder = false
            var cartOrderFinish = false
        include ../cart-list
    +slot('footer')
        div(class="cart-total")
            div(class="cart-total__text") Итого:
            div(class="cart-total__price") 221 343 ₽
                s 250 343 ₽
        div(class="form-btns")
            div(class="btn btn--green-stroke" data-micromodal-close) Продолжить покупки
            a(href="order.html " class="btn btn--green") Оформить заказ

+modal({
    id: 'basket-empty',
    modifier: 'basket'
})
    +slot('header')
        div(class="cart-header")
            div(class="cart-header__text")
                div(class="cart-header__caption") Корзина
    +slot('body')
        div(class="h5 mb-m text-light") В корзине пока нет товаров
        a(href="catalog-categories.html " class="btn btn--big btn--green btn--mob-100") Каталог




+modal({
    id: 'basket-clear',
})
    +slot('body')
        p(class="modal__text") Удалить все товары из корзины?
        div(class="form-btns")
            a(href="#" class="btn btn--green") Да
            div(class="btn btn--green-stroke" data-micromodal="modal-basket") Нет

