include ../../mixins/basic/_modal

block modal

+modal({
    id: 'message'
})
    +slot('header')
        span(id="js-modal-message-caption") Сообщение
    +slot('body')
        p(id="js-modal-message-text" class="modal__message") Пример модального окна с текстовым сообщением.
        div(class="form-btns")
            div(class="btn btn--green btn--100" data-micromodal-close) Хорошо

+modal({
    id: 'city',
    modifier: 'small'
})
    +slot('header')
        div(class="header-city-block")
            a(class="link-city" data-micromodal-close)
                +icon-sym('arr-down')
                +icon-sym('pin')
                | Moсква
    +slot('body')
        div(class="form")
            div(class="form__line")
                input(class="form__input form__input--search js-dadata-city")
                script.
                    // Пример события выбора города в инпуте (при программинге удалить)
                    document.addEventListener('DOMContentLoaded', () => {
                        const inputs = document.querySelectorAll('.js-dadata-city');
                        inputs.forEach((input, index) => {
                            input.addEventListener('cityChange',()=>{
                                console.log('Event cityChange:', input.value);
                                //window.location.reload();
                            })
                        });
                    });

            ul(class="header-city-list")
                li
                    a(href="main.html" class="active") Москва
                li
                    a(href="main.html") Санкт-петербург
                li
                    a(href="main.html") Новосибирск
                li
                    a(href="main.html") Екатеринбург


+modal({
    id: 'feedback'
})
    +slot('header')
        | Обратный звонок
    +slot('body')
        form(action="images/json/form-success.json" class="form js-form-validate js-form-action" method="post")
            div(class="form__line")
                label(class="form__label" for="feedback-input-name") Имя
                input(type="text" class="form__input" id="feedback-input-name" required)
            div(class="form__line")
                label(class="form__label" for="feedback-input-phone") Телефон
                input(type="text" inputmode="tel" class="form__input js-input-format-phone" id="feedback-input-phone" required)
            div(class="form__line")
                label(class="input-checkbox input-checkbox--small")
                    input(type="checkbox" required checked)
                    span(class="input-checkbox__text") Я согласен на обработку
                        a(href="policy.html") персональных данных
            div(class="form__submit")
                button(type="submit" class="btn btn--green btn--100") Отправить


+modal({
    id: 'basket',
    modifier: 'basket'
})
    +slot('header')
        div(class="cart-header")
            div(class="cart-header__text")
                div(class="cart-header__caption") Корзина
                span(class="text-gray") В корзине
                | 3 товара
            div(class="btn btn--mob-small btn--gray" data-micromodal="modal-basket-clear")
                +icon-sym('clear')
                | Очистить
    +slot('body')
        -
            var cartFull = false
            var cartOrder = false
            var cartOrderFinish = false
        include ../cart-list
    +slot('footer')
        div(class="cart-total")
            div(class="cart-total__text") Итого:
            div(class="cart-total__price") 221 343 ₽
                s 250 343 ₽
        div(class="form-btns")
            div(class="btn btn--green-stroke" data-micromodal-close) Продолжить покупки
            a(href="order.html " class="btn btn--green") Оформить заказ

+modal({
    id: 'basket-empty',
    modifier: 'basket'
})
    +slot('header')
        div(class="cart-header")
            div(class="cart-header__text")
                div(class="cart-header__caption") Корзина
    +slot('body')
        div(class="h5 mb-m text-light text-col") В корзине пока нет товаров
        a(href="catalog-categories.html " class="btn btn--big btn--green btn--mob-100") Каталог




+modal({
    id: 'basket-clear',
})
    +slot('body')
        p(class="modal__text") Удалить все товары из корзины?
        div(class="form-btns")
            a(href="#" class="btn btn--green") Да
            div(class="btn btn--green-stroke" data-micromodal="modal-basket") Нет

+modal({
    id: 'order-cancel',
})
    +slot('header')
    +slot('body')
        p(class="modal__text") Отменить заказ?
        div(class="form-btns")
            a(href="lk-orders.html" class="btn btn--green") Да
            div(class="btn btn--green-stroke" data-micromodal-close) Нет

+modal({
    id: 'enter'
})
    +slot('header')
        | Вход
    +slot('body')
        form(action="#" class="form js-form-validate")
            div(class="form__line")
                label(class="form__label" for="enter-input-name-modal") E-mail
                input(type="email" class="form__input" id="enter-input-name-modal" required)
            div(class="form__line")
                label(class="form__label" for="enter-input-pass-modal") Пароль
                input(type="password" class="form__input" id="enter-input-pass-modal" required)
            div(class="form__text")
                a(href="#" data-micromodal="modal-password-email") Забыли пароль?
            div(class="form__submit")
                button(type="submit" class="btn btn--green btn--100") Войти
            div(class="form__text")
                | Нет аккаунта?
                a(href="#" data-micromodal="modal-registration") Регистрация

        hr(class="hr-big")
        a(href="#" class="link-vk")
            | Вход через
            span(class="link-vk__icon")
                +icon-sym('vk')


+modal({
    id: 'password-email'
})
    +slot('header')
        | Восстановить пароль
    +slot('body')
        form(action="#" class="form js-form-validate")
            p Укажите ваш E-mail и&nbsp;получите электронное письмо с&nbsp;инструкцией по созданию нового пароля.
            div(class="form__line")
                label(class="form__label" for="modal-enter-input-email") E-mail
                input(type="email" class="form__input" id="modal-enter-input-email" required)
            div(class="form__submit")
                button(type="submit" class="btn btn--green btn--100") Отправить

+modal({
    id: 'registration'
})
    +slot('header')
        | Регистрация
    +slot('body')
        form(action="#" class="form js-form-validate")
            div(class="form__line")
                label(class="form__label" for="modal-reg-input-name") ФИО
                input(type="email" class="form__input" id="modal-reg-input-name" required)
            div(class="form__line")
                label(class="form__label" for="modal-reg-input-phone") Телефон
                input(type="text" inputmode="tel" class="form__input js-input-format-phone" id="modal-reg-input-phone" required)
            div(class="form__line")
                label(class="form__label" for="modal-email-input-name") E-mail
                input(type="email" class="form__input" id="modal-email-input-name" required)
            div(class="form__line")
                label(class="form__label" for="modal-reg-input-password-1") Пароль
                input(type="password" class="form__input" id="modal-reg-input-password-1" minlength="8" required)
            div(class="form__line")
                label(class="form__label" for="modal-reg-input-password-2") Повторите пароль
                input(type="password" class="form__input" id="modal-reg-input-password-2" data-password-match="#reg-input-password-1" required)
            div(class="form__line")
                label(class="input-checkbox input-checkbox--small")
                    input(type="checkbox" required checked)
                    span(class="input-checkbox__text") Я согласен на обработку
                        a(href="policy.html") персональных данных
            div(class="form__submit")
                button(type="submit" class="btn btn--green btn--100") Зарегистрироваться
            div(class="form__text")
                | Есть аккаунт?
                a(href="#" data-micromodal="modal-enter") Войти
        hr(class="hr-big")
        a(href="#" class="link-vk")
            | Вход через
            span(class="link-vk__icon")
                +icon-sym('vk')

+modal({
    id: 'password-change'
})
    +slot('header')
        | Поменять пароль
    +slot('body')
        form(action="#" class="form js-form-validate")
            div(class="form__line")
                label(class="form__label" for="modal-change-password-0") Пароль
                input(type="password" class="form__input" id="modal-change-password-0" minlength="8" required)
            div(class="form__line")
                label(class="form__label" for="modal-change-password-1") Новый пароль
                input(type="password" class="form__input" id="modal-change-password-1" minlength="8" required)
            div(class="form__line")
                label(class="form__label" for="modal-change-password-2") Повторите новый пароль
                input(type="password" class="form__input" id="modal-change-password-2" data-password-match="#modal-change-password-1" required)
            div(class="form__submit")
                button(type="submit" class="btn btn--green btn--100") Сохранить


+modal({
    id: 'feedback-message'
})
    +slot('header')
        | Обратная связь
    +slot('body')
        form(action="#" class="form js-form-validate")
            div(class="form__line")
                label(class="form__label" for="modal-feedback-message-input-name") ФИО
                input(type="email" class="form__input" id="modal-feedback-message-input-name" required)
            div(class="form__line")
                label(class="form__label" for="modal-feedback-message-input-phone") Телефон
                input(type="text" inputmode="tel" class="form__input js-input-format-phone" id="modal-feedback-message-input-phone" required)
            div(class="form__line")
                label(class="form__label" for="modal-feedback-message-input-email") E-mail
                input(type="email" class="form__input" id="modal-feedback-message-input-email" required)
            div(class="form__line")
                label(class="form__label" for="modal-feedback-message-input-comment") Комментарий
                textarea(class="form__input js-textarea" id="modal-feedback-message-input-comment")
            div(class="form__line")
                label(class="input-checkbox input-checkbox--small")
                    input(type="checkbox" required checked)
                    span(class="input-checkbox__text") Я согласен на обработку
                        a(href="policy.html") персональных данных
            div(class="form__submit")
                button(type="submit" class="btn btn--green btn--100") Отправить

+modal({
    id: 'share'
})
    +slot('body')
        h6 Поделиться
        div(class="form-share-btn likely")
            div(class="vkontakte")
            div(class="odnoklassniki")
        h6 Скопировать ссылку на страницу
        div(class="form-share-link")
            div(class="form__input form__input--text")
                | https://racessport.ru/blog/sovety-pokupatelyam/slovar-terminov-prestige/
            a(href="https://racessport.ru/blog/sovety-pokupatelyam/slovar-terminov-prestige/" class="btn btn--arrow btn--green js-link-copy")
                +icon-sym('copy')

+modal({
    id: 'link-copy'
})
    +slot('header')
        | Ссылка скопирована
    +slot('body')
        div(class="btn btn--green btn--100" data-micromodal-close) Хорошо
